<%= content_tag :div, data: @rest.delete(:data) do %>
  <p class="text-red-400 hidden mb-8" data-claim-nft-target="transactionFailedError">
  NFT minting failed. Please ensure that your account has sufficient tokens to perform the transaction and try again.
  </p>
  <%= form_with url: nft_offer_path(@nft_offer), method: 'PUT', data: { controller: 'recaptcha', action: 'recaptcha#validate claim-nft#handleSubmit', claim_nft_target: 'form' } do |form| %>
    <%= form.hidden_field :wallet, value: @wallet.public_key %>
    <%= form.hidden_field :wallet_name, value: @wallet.wallet_name %>
    <%= render ButtonComponent.new(**@rest) do %>
      <% if content %>
        <%= content %>
      <% else %>
        Claim NFT
      <% end %>
    <% end %>
    <% if @recaptcha_v2 %>
      <div class="mt-4">
        <%= recaptcha_tags theme: :dark %>
      </div>
    <% else %>
      <%= recaptcha_v3(action: 'claim_nft', site_key: ENV.fetch('RECAPTCHA_V3_SITE_KEY', nil), turbolinks: true) %>
    <% end %>
  <% end %>
<% end %>
