<%= content_tag :dialog, **@rest do %>
  <div class="p-8">
    <div class="flex items-center mb-2">
      <h3 class="font-mono uppercase text-2xl"><%= title %></h3>
      <form method="dialog" class="ml-auto text-right">
        <button class="flex items-center justify-center w-6 h-6 fill-white/50 hover:text-neutral-300" type="submit" aria-label="Close Dialog">
          <span class="sr-only">Close Dialog</span>
          <%= render IconComponent.new(:close) %>
        </button>
      </form>
    </div>
    <div class="mb-8"><%= render DividerComponent.new %></div>
    <%= body %>
  </div>
<% end %>
