<%= content_tag :dialog, **@rest do %>
  <form type="dialog" class="text-right text-neutral-400 absolute top-4 right-4">
    <button type="submit"><%= render IconComponent.new(:close, size: :small) %></button>
  </form>
  <h3 class="font-mono uppercase text-xl mb-4"><%= title %></h3>
  <div class="mb-16"><%= render DividerComponent.new %></div>
  <%= body %>
<% end %>
