<%= content_tag :header, **@rest do %>

  <a class="flex flex-nowrap gap-2 md:gap-4 h-16 mr-auto" href="/" title="Aptos - Building the safest and most scalable Layer 1 blockchain">
    <%= render IconComponent.new(:aptos, class: 'w-8') %>
  </a>

  <nav class="hidden md:flex md:h-full items-center text-base flex-row flex-wrap md:justify-end mr-32 font-mono text-sm open:flex open:absolute open:max-h-[calc(100vh-4rem)] open:overflow-y-auto open:top-16 open:left-0 open:right-0 open:gap-2 open:p-10 open:bg-neutral-800 open:m-0" data-header-target="nav">
    <ul class="flex flex-col md:flex-row md:gap-8 w-full md:h-full">
    <% nav_groups.each do |group| %>
      <li class="group py-4 first:pt-0 last:pb-0 md:first:pt-4 md:last:pb-4 relative md:flex items-center border-b border-neutral-700 last:border-none md:border-none" data-action="mouseover->header#navGroupHover">
        <%= content_tag :a, group.item.name, href: group.item.url, title: group.item.title, class: 'text-base text-neutral-100 hover:text-teal-400 md:hover:text-white', target: group.item.url.starts_with?('http') ? '_blank' : '' %>
        <% if group.children.length > 0 %>
        <div class="absolute hidden md:group-focus-within:flex md:group-hover:flex h-[3px] bottom-0 left-0 right-0 rounded bg-teal-400"></div>
        <button class="md:hidden float-right mt-[5px] rotate-180" data-action="header#navGroupToggle">
          <%= render IconComponent.new(:accordion_arrow, size: :small) %>
        </button>
        <div class="hidden open:flex md:group-focus-within:flex md:group-hover:flex md:absolute md:top-full md:-ml-8">
          <ul class="flex-1 md:mt-[1px] md:bg-neutral-800 md:rounded md:p-8 md:min-w-[270px] md:shadow">
            <% group.children.each do |item| %>
              <li class="my-4 md:py-4 md:my-0 last:mb-0 text-base ml-4 md:ml-0 md:border-b border-neutral-700 last:border-none">
                <%= content_tag :a, item.name, href: item.url, title: item.title, class: 'text-neutral-100 hover:text-teal-400', target: item.url.starts_with?('http') ? '_blank' : '' %>
              </li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </li>
    <% end %>
    </ul>
  </nav>

  <% if @user %>
    <div class="relative">
      <button data-action="click->header#toggleUser" class="w-8 h-8 bg-transparent border border-1 border-neutral-300 hover:bg-neutral-800 text-neutral-300 font-semibold rounded-lg inline-flex items-center justify-center hover:border-2 hover:border-teal-400 overflow-hidden">
        <span>
        <% if @user&.username? %>
        <%= @user.username&.first&.upcase %>
        <% else %>
        <%= render IconComponent.new(:user, class: 'w-4') %>
        <% end %>
        </span>
      </button>
      <div data-header-target="user" class="hidden open:flex absolute top-full right-0 mt-4 origin-top-right transition-opacity duration-150 cursor-default">
        <div class="text-gray-700 p-2 bg-black/95 border-neutral-800 rounded-b-lg min-w-fit shadow whitespace-nowrap w-48 flex flex-col gap-2">
        <% if @user&.username? %>
          <div class="text-teal-400 px-3 py-2 font-mono"><%= @user.username %></div>
          <div class="block h-px bg-neutral-500"></div>
        <% end %>
          <ul>
            <% user_nav_items.each do |item| %>
              <%= content_tag :a, item.name, href: item.url, title: item.title, class: 'rounded-lg py-2 px-4 block whitespace-no-wrap bg-transparent hover:bg-neutral-800 text-neutral-300 hover:text-white font-mono uppercase text-sm', target: item.url.starts_with?('http') ? '_blank' : '' %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% else %>
    <a title="Sign in" href="<%= new_user_session_path %>" class="h-8 font-mono font-bold text-sm flex items-center justify-center leading-none py-1 px-8 rounded-lg bg-teal-400 hover:brightness-105 text-neutral-800 z-20">Sign in</a>
  <% end %>

  <button class="md:hidden flex-nowrap hover:text-teal-400" aria-label="Toggle navigation" data-header-target="navButton" data-action="click->header#toggleNav">
    <%= render IconComponent.new(:hamburger, size: :medium) %>
    <%= render IconComponent.new(:close, size: :medium, class: 'hidden') %>
  </button>
<% end %>
