<%= form_with url: omniauth_authorize_path(User, @provider), data: { turbo: false } do |form| %>
  <%= render ButtonComponent.new(type: :submit, **@rest) do %>
    <%= render IconComponent.new(@provider, size: @size) %>
    <div>
      <% if content %>
        <%= content %>
      <% else %>
        <%= @provider.to_s.titleize %>
      <% end %>
    </div>
  <% end %>
<% end %>
