<div class="flex flex-col lg:flex-row flex-[2]">
  <div>
    <div class="mb-12 max-w-prose font-light sm:text-lg">
      <%= render 'shared/it3_intro' %>
    </div>

    <%= render 'layouts/flash' %>

    <% if @it3_registration_closed && current_user.it3_profile %>
      <h2 class="font-mono text-3xl mb-12">
        <% if current_user.it3_profile.selected %>
          <div>Congratulations!</div>
          <div>Your node was selected!</div>
        <% else %>
          Sorry, your node was not selected.
        <% end %>
      </h2>
    <% end %>

    <%= turbo_frame_tag 'it3_steps', target: '_top' do %>
    <div class="flex flex-wrap flex-col gap-8 max-w-prose" data-controller="shake">
      <% @steps.each_with_index do |step, i| %>
        <div data-action="<%= step.disabled ? 'click->shake#shake' : '' %>" data-target="<%= !step.disabled && !step.completed ? 'shake.content' : '' %>" class="bg-neutral-800 rounded-md flex flex-col flex-1 <%= step.disabled ? 'cursor-not-allowed select-none opacity-25' : '' %>">
          <h3 class="font-mono uppercase mb-2 bg-neutral-700 text-teal-400 px-8 lg:px-12 py-2 rounded-t-md text-sm">Step <%= i + 1 %></h3>
          <div class="px-8 lg:px-12 pt-4 pb-8 flex flex-col lg:flex-row lg:gap-16 items-center flex-1">
            <div class="w-full flex-1">
              <h4 class="text-white font-mono uppercase text-2xl mb-4">
                <% if step.name == :connect_discord %>
                  Connect Discord
                <% elsif step.name == :connect_wallet %>
                  Connect Wallet
                <% elsif step.name == :survey %>
                  Complete Survey
                <% elsif step.name == :node_registration %>
                  Node Registration
                <% elsif step.name == :identity_verification %>
                  Identity Verification
                <% end %>
              </h4>

              <div class="mb-4"><%= render DividerComponent.new %></div>

              <p class="mb-8 lg:mb-0 font-light">
              <% if step.name == :connect_discord %>
                Sign in to your Discord to continue node verification.
              <% elsif step.name == :connect_wallet %>
                Connect your Aptos wallet to be eligible for governance voting.
              <% elsif step.name == :survey %>
                Please tell us a bit more about yourself and your experience with Aptos.
              <% elsif step.name == :node_registration %>
                Register your node, and automatically verify that it is set up correctly.
              <% elsif step.name == :identity_verification %>
                Identity must be verified by noon (PST) August 27 to get into the selection process.
              <% end %>
              </p>

              <% if step.dialog %>
                <%= render step.dialog do |dialog| %>
                  <%= dialog.with_title do %>
                    <% if step.name == :connect_discord %>
                      Connect Discord
                    <% elsif step.name == :connect_wallet %>
                      Install Wallet
                    <% end %>
                  <% end %>
                  <%= dialog.with_body do %>
                    <% if step.name == :connect_discord %>
                      <%= render LoginButtonComponent.new(provider: :discord, size: :large, class: 'w-full') %>
                    <% elsif step.name == :connect_wallet %>
                      <p class="font-light">
                      An Aptos wallet must be installed to continue.
                      <%= render(LinkComponent.new(href: 'https://aptos.dev/guides/building-wallet-extension#step-1-install-the-wallet-on-chrome', target: '_blank')) { 'Learn more' } %></p>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>

            <div class="w-full lg:flex-1">
              <% if step.name == :connect_wallet %>
                <%= form_with url: it3_path, method: :put, data: { controller: 'connect-wallet', action: 'connect-wallet#beforeSubmit:capture', connect_wallet_dialog_value: step.dialog&.id, turbo_frame: 'it3-steps' } do |form| %>
                  <%= form.hidden_field :owner_key, data: { connect_wallet_target: 'ownerKey' } %>
                  <%= render ButtonComponent.new(type: :submit, class: step.completed ? 'bg-neutral-700/50 text-teal-600 w-full mt-auto' : 'w-full mt-auto', disabled: step.disabled, data: { connect_wallet_target: 'button' }) do %>
                    <% if step.completed %>
                      <%= render IconComponent.new(:check_circle, size: :medium) %>
                    <% else %>
                      Connect
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                <%= render ButtonComponent.new(href: step.disabled ? nil : step.href, dialog: step.dialog, class: step.completed ? 'bg-neutral-700/50 text-teal-600 w-full mt-auto' : 'w-full mt-auto', disabled: step.disabled) do %>
                  <% if step.completed %>
                    <%= render IconComponent.new(:check_circle, size: :medium) %>
                  <% elsif step.name == :connect_discord %>
                    Sign in
                  <% elsif step.name == :survey %>
                    Continue
                  <% elsif step.name == :node_registration %>
                    Register
                  <% elsif step.name == :identity_verification %>
                    Verify
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
