<% content_for(:page_title, 'AIT-3 Validator Status') %>
<div class="bg-neutral-900 text-white h-full">
  <div class="max-w-screen-2xl mx-auto px-4 sm:px-6 md:px-8 py-12 sm:py-24">
    <h3 class="text-base uppercase text-teal-400 mb-4 font-mono">Community</h3>
    <h1 class="font-display text-5xl lg:text-6xl xl:text-6xl text-neutral-100"><%= content_for(:page_title) %></h1>
    <section class="py-12">
      <div class="flex flex-col md:flex-row md:justify-evenly gap-8">
        <div class="grow">
          <%= render CardOutlineComponent.new(scheme: :filled, class: 'h-full') do %>
            <p class="font-mono uppercase text-4xl font-light">226</p>
            <div class="my-4"><%= render DividerComponent.new %></div>
            <h3 class="font-mono uppercase text-lg">Nodes</h3>
          <% end %>
        </div>
        <div class="grow">
          <%= render CardOutlineComponent.new(scheme: :filled, class: 'h-full') do %>
            <p class="font-mono uppercase text-4xl font-light">41</p>
            <div class="my-4"><%= render DividerComponent.new %></div>
            <h3 class="font-mono uppercase text-lg">Countries</h3>
          <% end %>
        </div>
        <div class="grow">
          <%= render CardOutlineComponent.new(scheme: :filled, class: 'h-full') do %>
            <p class="font-mono uppercase text-4xl font-light">91</p>
            <div class="my-4"><%= render DividerComponent.new %></div>
            <h3 class="font-mono uppercase text-lg">Cities</h3>
          <% end %>
        </div>
      </div>
    </section>
    <%= turbo_frame_tag 'metrics', data: { controller: 'refresh', refresh_interval_value: 1.minute, refresh_src_value: request.path, turbo_action: 'advance' } do %>
      <%= content_tag :div, class: 'overflow-x-auto' do %>
        <%= render TableComponent.new(class: 'w-full table-auto border-separate border-spacing-y-2') do |t| %>
          <%= t.with_column(:rank, '#', align: 'left') %>
          <%= t.with_column('Owner Address', align: 'left') %>
          <%= t.with_column(:liveness, 'Liveness', align: 'left') do |column| %>
            <%= column.with_tooltip(:info) do |tooltip| %>
              <%= tooltip.with_header do %>
                Updated hourly.
                <br>
                Cumulative range: 0%-100%
              <% end %>
              <%= tooltip.with_body do %>
                <div class="flex flex-col gap-4">
                  <div class="flex items-start gap-2">
                    <%= render IconComponent.new(:check_circle, size: :small, class: 'text-teal-400') %>
                    <div>
                      Live
                      <ul>
                        <li>-Push metrics to Aptos telemetry</li>
                        <li>-Connected to Aptos node</li>
                      </ul>
                    </div>
                  </div>
                  <div class="flex items-start gap-2">
                    <%= render IconComponent.new(:x_circle, size: :small, class: 'text-red-500') %>
                    <div>
                      Not Live
                    </div>
                  </div>
                </div>
                <div class="flex justify-end">
                  <a title="Node Liveness Criteria" href="https://aptos.dev/nodes/ait/ait-3-leaderboard-metrics/" class="text-neutral-500 hover:text-neutral-400 inline text-right mt-2 cursor-pointer" target="_blank">More Details</a>
                </div>
              <% end %>
            <% end %>
          <% end %>
          <%= t.with_column(:rewards_growth, 'Rewards Performance', align: 'left') do |column| %>
            <%= column.with_tooltip(:info) do |tooltip| %>
              <%= tooltip.with_header do %>
                Cumulative range: 0%-100%
              <% end %>
              <%= tooltip.with_body do %>
                <div class="flex flex-col gap-4">
                  <div class="flex items-start gap-2">
                    <div class="bg-teal-400 block w-4 h-4 rounded-full"></div>
                    <div>
                      Above 80%
                    </div>
                  </div>
                  <div class="flex items-start gap-2">
                    <div class="bg-yellow-500 block w-4 h-4 rounded-full"></div>
                    <div>
                      Between 75% &amp; 80%
                    </div>
                  </div>
                  <div class="flex items-start gap-2">
                    <div class="bg-red-500 block w-4 h-4 rounded-full"></div>
                    <div>
                      Below 75%
                    </div>
                  </div>
                </div>
                <div class="flex justify-end">
                  <a title="Telemetry" href="https://aptos.dev/nodes/ait/ait-3-leaderboard-metrics/" class="text-neutral-500 hover:text-neutral-400 inline text-right mt-2 cursor-pointer" target="_blank">More Details</a>
                </div>
              <% end %>
            <% end %>
          <% end %>
          <%= t.with_column(:last_epoch_performance, 'Last Epoch Performance', align: 'left') %>
          <%= t.with_column(:governance_voting_record, 'Governance Votes', align: 'right') %>

          <%= t.with_body do %>
            <% @metrics.each_with_index do |metric, i| %>
              <%= render TableRowComponent.new(class: 'cursor-pointer select-none active:translate-y-0.5', title: 'Click to view account on Explorer') do |tr| %>
                <%= tr.with_column(align: 'left') do %>
                  <%= metric.rank %>
                <% end %>
                <%= tr.with_column(align: 'left') do %>
                  <a class="relative" href="https://explorer.aptoslabs.com/account/<%= metric.owner_address %>?network=ait3" target="_blank" title="<%= metric.owner_address %>">
                    <%= truncate_address(metric.owner_address) %>
                    <span class="absolute w-100 overflow-visible inline-block text-transparent left-0 pointer-events-none"><%= metric.owner_address %></span>
                  </a>
                <% end %>
                <%= tr.with_column(align: 'left') do %>
                  <div class="flex items-center gap-2">
                    <%= liveness_icon(metric.liveness) %>
                    <%= number_to_percentage(metric.liveness, precision: 2) %>
                  </div>
                <% end %>
                <%= tr.with_column(align: 'left') do %>
                  <div class="flex items-center gap-2">
                    <div class="<%= rewards_growth_color(metric.rewards_growth) %> block w-4 h-4 rounded-full"></div>
                    <%= number_to_percentage(metric.rewards_growth, precision: 2) %>
                  </div>
                <% end %>
                <%= tr.with_column(align: 'left') do %>
                  <% if metric.last_epoch_performance.present? %>
                    <span class="<%= last_epoch_performance_color(metric.last_epoch_performance) %>" title="Last epoch: <%= metric.last_epoch %>"><%= metric.last_epoch_performance %></span>
                  <% end %>
                <% end %>
                <%= tr.with_column(align: 'right') do %>
                  <% if metric.governance_voting_record.present? %>
                    <%= metric.governance_voting_record %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <p class="my-6">
    <%= render LinkComponent.new(href: 'https://aptos-analytics-data-it3.s3.us-west-2.amazonaws.com/validator_epoch_history.json', target: '_blank') do %>
      View complete performance history
    <% end %>
    </p>
    <p class="text-neutral-400 text-xs mt-6 font-light">This page refreshes every 15 minutes and metrics are calculated at the end of an epoch.</p>
    <p class="text-neutral-400 text-xs font-light">Data last updated <%= @last_updated.utc.to_fs(:db) %> UTC</p>
  </div>
</div>
