<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= project.short_description %>
  </p>

  <p>
    <strong>Full description:</strong>
    <%= project.full_description %>
  </p>

  <p>
    <strong>Website url:</strong>
    <%= project.website_url %>
  </p>

  <p>
    <strong>Github url:</strong>
    <%= project.github_url %>
  </p>

  <p>
    <strong>Discord url:</strong>
    <%= project.discord_url %>
  </p>

  <p>
    <strong>Twitter url:</strong>
    <%= project.twitter_url %>
  </p>

  <p>
    <strong>Telegram url:</strong>
    <%= project.telegram_url %>
  </p>

  <p>
    <strong>Linkedin url:</strong>
    <%= project.linkedin_url %>
  </p>

  <p>
    <strong>Thumbnail url:</strong>
    <%= project.thumbnail_url %>
  </p>

  <p>
    <strong>Youtube url:</strong>
    <%= project.youtube_url %>
  </p>

  <p>
    <strong>Forum url:</strong>
    <%= project.forum_url %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= project.public %>
  </p>

</div>
