<% content_for(:page_title, 'Aptos Projects - Together we build the most robust ecosystem') %>
<% content_for(:page_description, 'Find all projects building on the Aptos ecosystem') %>

<div class="bg-neutral-900 text-neutral-100 h-full pb-24">
  <section class="bg-cover bg-center mb-8 py-12 md:py-32" style="background-image: url('<%= image_path('acid_texture_dark.webp') %>')">
    <div class="max-w-screen-2xl mx-auto px-6">
      <div class="max-w-2xl">
        <h3 class="text-base uppercase mb-2 font-mono text-teal-400">Community</h3>
        <h1 class="text-5xl lg:text-6xl font-display">Together we build the most robust ecosystem.</h1>
      </div>
    </div>
  </section>
  <section class="md:sticky top-20 z-30 bg-neutral-900 pt-8 pb-12">
    <div class="max-w-screen-2xl mx-auto px-6">
      <%= render 'layouts/flash' %>
      <div class="grid grid-cols-1 lg:grid-cols-12 gap-10 lg:gap-20">
        <div class="order-2 lg:order-1 lg:col-span-8">
          <%= form_with url: ecosystem_path, method: 'GET', class: 'grid md:grid-cols-2 gap-4', builder: AptosFormBuilder do |form| %>
            <%= content_tag :div, class: 'flex flex-col xl:flex-row gap-2 !text-sm relative' do %>
              <div class="flex absolute inset-y-0 right-0 items-center pr-4 pointer-events-none">
                <%= render IconComponent.new(:search, class: 'w-5 h-5 text-neutral-400') %>
              </div>
              <%= form.search_field :s, value: params[:s], class: 'block p-4 pr-10 w-full text-base rounded-lg text-neutral-100 bg-neutral-900 border-neutral-600 placeholder-neutral-400 focus:ring-teal-700 focus:border-teal-700', placeholder: 'Search Projects…' %>
            <% end %>
            <%= form.collection_select(:category, @categories.values, :id, :title, { selected: params[:category], include_blank: 'Filter by category' }, { class: 'block p-4 w-full text-base text-neutral-400 bg-neutral-900 rounded-lg border border-neutral-600 focus:ring-teal-700 focus:border-teal-700 placeholder-neutral-400', onchange: 'this.form.requestSubmit()' }) %>
          <% end %>
        </div>
        <div class="order-1 lg:order-2 lg:col-span-4 flex lg:justify-end">
          <%= render ButtonComponent.new(href: new_project_path, size: :large, class: '!inline-block rounded-lg') do %>
            <span class="text-2xl leading-none">+</span> Submit Project
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section class="max-w-screen-2xl mx-auto px-6">
    <% @groups.sort.each do |category_id, projects| %>
      <% category = @categories[category_id] %>
      <div class="mb-12">
        <h3 class="font-display text-4xl sticky top-20 md:top-48 py-6 bg-neutral-900/[.95] backdrop-blur-lg relative z-10"><%= category.title %></h3>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
          <% projects.each do |project| %>
            <%= render ProjectCardComponent.new(project:) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
</div>
