<% content_for(:page_title, "#{@project.title} - Aptos ecosystem") %>
<% content_for(:page_description, @project.short_description) %>

<div class="bg-neutral-900 text-neutral-50 h-full">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 md:px-8 py-8 sm:py-24">
    <%= render 'layouts/flash' %>
    <div class="flex flex-col md:flex-row gap-8 md:gap-16">
      <div class="order-2 md:order-1">
        <div class="md:sticky top-32">
          <img src="<%= url_for(@project.thumbnail) %>" class="block mx-auto h-32 w-32 mb-8">
          <%= render ButtonComponent.new(href: @project.website_url, target: '_blank', rel: 'noopener noreferrer nofollow', class: 'block rounded-lg') do %>
            Go
          <% end %>
          <div class="grid grid-cols-3 md:grid-cols-1 gap-2 mt-8">
            <% if @project.twitter_url %>
              <a href="<%= @project.twitter_url %>" title="View on Twitter" class="text-white border hover:bg-neutral-800 focus:bg-neutral-800 border-current text-[#009BEF] rounded px-4 py-1 flex justify-center">
                <%= render IconComponent.new(:twitter, size: :medium) %>
              </a>
            <% end %>
            <% if @project.discord_url %>
              <a href="<%= @project.discord_url %>" title="View on Discord" class="text-white border hover:bg-neutral-800 focus:bg-neutral-800 border-current text-[#5B66F6] rounded px-4 py-1 flex justify-center">
                <%= render IconComponent.new(:discord, size: :medium) %>
              </a>
            <% end %>
            <% if @project.github_url %>
              <a href="<%= @project.github_url %>" title="View on GitHub" class="text-white border hover:bg-neutral-800 focus:bg-neutral-800 border-current text-[#94A3B8] rounded px-4 py-1 flex justify-center">
                <%= render IconComponent.new(:github, size: :medium) %>
              </a>
            <% end %>
          </div>
          <%= render ButtonComponent.new(href: ecosystem_path, title: 'Back to Projects', scheme: :tertiary, size: :small, class: 'block py-16 !px-0') do %>
            ← Back to Projects
          <% end %>
        </div>
      </div>
      <div class="order-1 md:order-2 flex-1">
        <h2 class="font-display leading-none text-5xl mt-2 mb-1"><%= @project.title %></h2>
        <p class="font-light text-base text-neutral-300 mb-4"><%= @project.short_description %></p>
        <div class="flex gap-2 mb-8">
          <% @project.categories.sort.each do |category| %>
            <%= content_tag :a, category.title, href: ecosystem_path(category: category.id), class: 'rounded-full px-6 py-2 border font-medium text-neutral-300 border-neutral-400 leading-none hover:bg-neutral-800 focus:bg-neutral-800' %>
          <% end %>
        </div>
        <div class="rounded-xl border border-neutral-700 overflow-hidden mb-8">
          <div class="flex overflow-x-auto snap-x aspect-video">
            <% @project.screenshots.each do |screenshot| %>
              <img src="<%= url_for(screenshot) %>" alt="Project screenshot" class="snap-center">
            <% end %>
          </div>
        </div>
        <div class="prose text-neutral-50 font-light text-medium mb-8">
          <%= simple_format @project.full_description %>
        </div>
        <% if Flipper.enabled?(:profiles) %>
          <div class="flex gap-8">
            <% [@project.user].concat(@project.members.public).each do |user| %>
              <%= content_tag :a, user.username, href: user_path(user) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
