<% content_for(:page_title, 'Aptos Community') %>
<% content_for(:page_description, 'Aptos Community - A worldwide movement of developers, node operators, educators, and other contributors') %>
<div class="bg-neutral-900 text-neutral-50 h-full">
  <div class="max-w-screen-2xl mx-auto px-6 pb-24">
    <section class="py-12 lg:py-32">
      <h3 class="text-base uppercase text-teal-400 mb-4 font-mono">Community</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 xl:gap-12 text-neutral-100">
        <h1 class="font-display text-5xl lg:text-6xl">
          Learn, Build, Evolve - Realizing the Aptos vision together.
        </h1>
        <div class="flex items-center">
          <div>
            <p class="text-xl xl:text-2xl text-neutral-400">
            Aptos Community is a worldwide movement of developers, node operators, educators, and other contributors building the safest, most scalable and widely accessible blockchain ecosystem.
            </p>
            <div class="flex justify-start mt-8">
              <% if !user_signed_in? %>
                <%= render ButtonComponent.new(size: :large, dialog: @login_dialog, class: '') do %>
                  Join The Movement
                <% end %>
                <%= render @login_dialog do |dialog| %>
                  <%= dialog.with_title do %>
                    Sign in with
                  <% end %>
                  <%= dialog.with_body do %>
                    <div class="flex flex-col gap-3 outline-none" autofocus tabindex="-1">
                      <%= render LoginButtonComponent.new(provider: :discord, size: :large, class: 'w-full') %>
                      <%= render LoginButtonComponent.new(provider: :google, size: :large, class: 'w-full') %>
                      <%= render LoginButtonComponent.new(provider: :github, size: :large, class: 'w-full') %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <% if user_signed_in? %>
      <% if current_user.username? %>
        <section class="flex justify-start md:justify-center mb-16">
          <h2 class="text-2xl md:text-3xl lg:text-4xl text-teal-400 font-mono">Hello, <%= current_user.username %>!</h2>
        </section>
      <% end %>
    <% end %>
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 justify-center content-center max-w-screen-xl mx-auto">
      <div>
        <%= render CardOutlineComponent.new(scheme: :filled, class: 'h-full') do %>
          <div class="flex flex-col justify-between p-4 h-full">
            <div>
              <%= render IconComponent.new(:discussion, class: 'w-full h-full text-neutral-300 flex-none mb-4 w-10 h-10') %>
              <h3 class="flex items-center gap-2 font-display text-3xl lg:text-3xl mb-2 text-neutral-100">
                Discussion Forum
              </h3>
              <p class="text-neutral-300 text-base">Participate in open discussions across various threads, explore opportunities to collaborate, and get more involved in projects building on Aptos.</p>
            </div>
            <div class="flex justify-start mt-8">
              <%= render ButtonComponent.new(href: 'https://forum.aptoslabs.com', target: '_blank', title: 'Aptos Discussion Forum', scheme: :tertiary, class: '!p-0') do %>
                Get Involved
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div>
        <%= render CardOutlineComponent.new(scheme: :filled, class: 'h-full') do %>
          <div class="flex flex-col justify-between p-4 h-full">
            <div>
              <%= render IconComponent.new(:discord, class: 'w-full h-full text-neutral-300 flex-none mb-4 w-10 h-10') %>
              <h3 class="flex items-center gap-2 font-display text-3xl lg:text-3xl mb-2 text-neutral-100">
                Discord
              </h3>
              <p class="text-neutral-300 text-base">Join our Discord to chat with us directly, take part in our growing ecosystem, and participate in Move Mondays.</p>
            </div>
            <div class="flex justify-start mt-8">
              <%= render ButtonComponent.new(href: 'https://discord.gg/zTDYBEud7U', target: '_blank', title: 'Aptos on Discord', scheme: :tertiary, class: '!p-0') do %>
                Join Us
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div>
        <%= render CardOutlineComponent.new(scheme: :filled, class: 'h-full') do %>
          <div class="flex flex-col justify-between p-4 h-full">
            <div>
              <%= render IconComponent.new(:aptos, class: 'w-full h-full text-neutral-300 flex-none mb-4 w-10 h-10') %>
              <h3 class="flex items-center gap-2 font-display text-3xl lg:text-3xl mb-2 text-neutral-100">
                Incentivized Testnet
              </h3>
              <p class="text-neutral-300 text-base">The Aptos ecosystem is rewarding node operators who help us prepare to launch a secure, reliable &amp; decentralized network.</p>
            </div>
            <div class="flex justify-start mt-8">
              <%= render ButtonComponent.new(href: incentivized_testnet_path, title: 'Aptos Incentivized Testnet', scheme: :tertiary, class: '!p-0') do %>
                Get Started
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
