<section class="bg-white text-black font-light py-12 sm:py-24">
  <div class="container mx-auto">
    <div class="max-w-4xl mx-auto">
      <h2 class="font-display text-5xl md:text-7xl mb-4 leading-none">
        Currents
      </h2>
      <%= render DividerComponent.new(scheme: :primary, class: 'mt-6 mb-16') %>
      <div class="mb-20">
        <% article = @feed.items.first %>
        <div class="mb-8">
          <h2 class="text-3xl md:text-5xl mb-2 block font-display"><%= article.title %></h2>
          <div class="mb-8 block">
            <time class="text-xl" :datetime="formatDateTimeAttribute">
              <%= article.pubDate.to_date.to_fs(:long) %>
            </time>
            -
            <span>(<%= time_ago_in_words(article.pubDate) %> ago)</span>
          </div>
          <div class="prose prose-black prose-xl prose-blockquote:text-zinc-500 prose-blockquote:not-italic prose-blockquote:font-normal prose-blockquote:text-3xl prose-blockquote:border-0 prose-blockquote:leading-relaxed prose-a:underline decoration-solid decoration-1 underline-offset-2 hover:prose-a:hover:text-teal-400 transition duration-150 ease-in-out prose-strong:font-medium">
            <%= @article_html %>
          </div>
        </div>

        <% @feed.items.drop(1).each do |article| %>
          <div class="mb-8">
            <a
                href="<%= article.link %>"
                class="flex flex-col hover:opacity-80 md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 text-black hover:text-teal-500 transition duration-150 ease-in-out"
                target="_blank"
                rel="noopener noreferrer">
                <div class="flex flex-col p-4">
                  <h2 class="text-4xl mb-2 block font-display"><%= article.title %></h2>
                  <div>
                    <time class="text-xl" :datetime="formatDateTimeAttribute">
                      <%= article.pubDate.to_date.to_fs(:long) %>
                    </time>
                    -
                    <span>(<%= time_ago_in_words(article.pubDate) %> ago)</span>
                  </div>
                </div>
            </a>
          </div>
        <% end %>
        <%= render ButtonComponent.new(href: 'https://medium.com/aptoslabs', size: :large, target: '_blank', rel: 'noopener noreferrer') do %>
          Follow @aptoslabs on Medium
        <% end %>
      </div>
    </div>
  </div>
</section>
