<% content_for(:page_title, 'Developing on Aptos - Come Build With Us') %>
<% content_for(:page_description, 'The Aptos developer experience is just getting started and we want you to come build with us!') %>
<% content_for(:meta) do %>
  <meta property="og:image" content="https://aptoslabs.com/images/meta/APTOS_developers_meta_opengraph.jpg">
  <meta name="twitter:image" content="https://aptoslabs.com/images/meta/APTOS_developers_meta_twitter.jpg">
<% end %>

<section class="top-hero relative flex flex-col justify-center min-h-screen bg-cover bg-center bg-no-repeat w-full text-white py-20 lg:py-36" style="background-image: url(<%= asset_path('aptos_hero_v4.jpg') %>)">
  <div class="px-4 sm:px-8 mx-auto">
    <div class="max-w-6xl mx-auto">
      <div class="w-5/6 mx-auto mb-20 md:mb-36">
        <h1>
          <svg
              id="Layer_1"
              class="drop-shadow-[0_35px_35px_rgba(0,0,0,0.95)] w-full"
              version="1.2"
              baseProfile="tiny"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="700px"
              height="278px"
              viewBox="0 0 700 278"
              overflow="visible"
              xml:space="preserve">
            <title id="aptos-welcome">Aptos Developers</title>
            <g>
            <g>
            <path
                fill="#FFFFFF"
                d="M218.6,19.8V0.2h5.1c2.3,0,4.1,0.6,5.4,1.9c1.3,1.3,1.9,3,1.9,5.2v5.4c0,2.1-0.7,3.8-2,5.1
                      c-1.3,1.3-3.1,1.9-5.4,1.9H218.6z M220.7,17.9h3.1c1.7,0,3-0.5,3.9-1.4c0.9-1,1.3-2.2,1.3-3.6V7.3c0-1.4-0.4-2.6-1.3-3.6
                      c-0.9-1-2.2-1.5-3.9-1.5h-3.1V17.9z" />
            <path
                fill="#FFFFFF"
                d="M239.5,19.8V0.2H252v1.9h-10.4v6h9.1v1.9h-9.1v7.8H252v1.9H239.5z" />
            <path
                fill="#FFFFFF"
                d="M267.3,19.8h-2l-6.5-19.6h2.3l5.2,16.5l5.2-16.5h2.3L267.3,19.8z" />
            <path
                fill="#FFFFFF"
                d="M281.3,19.8V0.2h12.4v1.9h-10.4v6h9.1v1.9h-9.1v7.8h10.4v1.9H281.3z" />
            <path
                fill="#FFFFFF"
                d="M303.4,19.8V0.2h2.1v17.7h8.6v1.9H303.4z" />
            <path
                fill="#FFFFFF"
                d="M329,20.1c-2.1,0-3.7-0.6-4.8-1.8s-1.7-3-1.7-5.4V7.3c0-2.4,0.6-4.2,1.7-5.4c1.1-1.2,2.7-1.8,4.9-1.8
                      c2.1,0,3.7,0.6,4.8,1.8c1.1,1.2,1.7,3,1.7,5.4v5.6c0,2.4-0.6,4.1-1.7,5.4C332.8,19.5,331.2,20.1,329,20.1z M329,18.2
                      c1.6,0,2.7-0.4,3.4-1.2c0.7-0.8,1-2.1,1-4V7.2c0-1.9-0.3-3.3-1-4.1c-0.7-0.8-1.8-1.2-3.4-1.2s-2.7,0.4-3.4,1.2
                      c-0.7,0.8-1,2.2-1,4.1V13c0,1.9,0.3,3.2,1,4C326.3,17.8,327.4,18.2,329,18.2z" />
            <path
                fill="#FFFFFF"
                d="M344,19.8V0.2h6.8c2,0,3.5,0.4,4.5,1.3s1.5,2.1,1.5,3.8v2.4c0,1.7-0.5,3-1.5,3.8c-1,0.9-2.5,1.3-4.5,1.3
                      h-4.7v7.1H344z M346.1,10.9h4.7c1.4,0,2.4-0.2,3-0.7c0.6-0.5,0.9-1.3,0.9-2.5V5.4c0-1.2-0.3-2-0.9-2.5c-0.6-0.5-1.6-0.7-3-0.7
                      h-4.7V10.9z" />
            </g>
            <g>
            <path
                fill="#FFFFFF"
                d="M365,19.8v-1.9h4.9V2.2H365V0.2h11.9v1.9H372v15.8h4.9v1.9H365z" />
            <path
                fill="#FFFFFF"
                d="M394.6,19.8l-6.8-17.1v17.1h-1.9V0.2h3.1l6.9,17.5V0.2h1.9v19.6H394.6z" />
            <path
                fill="#FFFFFF"
                d="M413.3,20.1c-2.3,0-4-0.6-5.2-1.8c-1.2-1.2-1.8-3-1.8-5.2V7.2c0-2.3,0.6-4.1,1.8-5.3s2.9-1.9,5-1.9
                      c1.9,0,3.4,0.5,4.5,1.5c1,1,1.6,2.6,1.7,4.6l-2.1,0.2c-0.1-1.6-0.5-2.8-1.2-3.5c-0.6-0.7-1.6-1-3-1c-1.7,0-2.9,0.4-3.6,1.2
                      c-0.7,0.8-1.1,2.1-1.1,4v6c0,1.8,0.4,3.1,1.2,3.9c0.8,0.8,2,1.2,3.8,1.2c1.6,0,2.7-0.5,3.4-1.4c0.7-0.9,1-2.4,1-4.6h-5v-1.9h7.1
                      v2.4c0,2.4-0.6,4.2-1.7,5.5S415.4,20.1,413.3,20.1z" />
            <path
                fill="#FFFFFF"
                d="M454.5,20.1c-2.1,0-3.7-0.6-4.8-1.8s-1.7-3-1.7-5.4V7.3c0-2.4,0.6-4.2,1.7-5.4c1.1-1.2,2.7-1.8,4.9-1.8
                      c2.1,0,3.7,0.6,4.8,1.8c1.1,1.2,1.7,3,1.7,5.4v5.6c0,2.4-0.6,4.1-1.7,5.4C458.3,19.5,456.6,20.1,454.5,20.1z M454.5,18.2
                      c1.6,0,2.7-0.4,3.4-1.2c0.7-0.8,1-2.1,1-4V7.2c0-1.9-0.3-3.3-1-4.1c-0.7-0.8-1.8-1.2-3.4-1.2c-1.6,0-2.7,0.4-3.4,1.2
                      c-0.7,0.8-1,2.2-1,4.1V13c0,1.9,0.3,3.2,1,4C451.8,17.8,452.9,18.2,454.5,18.2z" />
            <path
                fill="#FFFFFF"
                d="M478.2,19.8l-6.8-17.1v17.1h-1.9V0.2h3.1l6.9,17.5V0.2h1.9v19.6H478.2z" />
            </g>
            </g>
            <path
                fill="#FFFFFF"
                d="M536.3,126h-14.5c-1.7,0-3.3-0.7-4.4-2l-5.9-6.6c-0.9-1-2.1-1.6-3.5-1.6c-1.3,0-2.6,0.6-3.5,1.6l-5,5.7
                         c-1.7,1.9-4,2.9-6.5,2.9h-79.4c-2.3,6.4-3.7,13.2-4.3,20.3h74.9c1.3,0,2.6-0.5,3.5-1.5l7-7.3c0.9-0.9,2.1-1.4,3.3-1.4h0.3
                         c1.3,0,2.6,0.6,3.5,1.6l5.9,6.6c1.1,1.3,2.7,2,4.4,2h15.2h7.1h38.9c-0.6-7.1-2.1-13.9-4.3-20.3h-25.6H536.3z" />
            <path
                fill="#FFFFFF"
                d="M454.7,189c1.3,0,2.6-0.5,3.5-1.5l7-7.3c0.9-0.9,2.1-1.4,3.3-1.4h0.3c1.3,0,2.6,0.6,3.5,1.6l5.9,6.6
                         c1.1,1.3,2.7,2,4.4,2h15.2h7.1h60.7c3.1-6.4,5.4-13.3,6.7-20.5h-58h-7.1h-14.5c-1.7,0-3.3-0.7-4.4-2l-5.9-6.6
                         c-0.9-1-2.1-1.6-3.5-1.6c-1.3,0-2.6,0.6-3.5,1.6l-5,5.7c-1.7,1.9-4,2.9-6.5,2.9h-53.3c1.4,7.2,3.6,14.1,6.7,20.5H454.7z" />
            <path
                fill="#FFFFFF"
                d="M513.5,103.8c1.3,0,2.6-0.5,3.5-1.5l7-7.3c0.9-0.9,2.1-1.4,3.3-1.4h0.3c1.3,0,2.6,0.6,3.5,1.6l5.9,6.6
                         c1.1,1.3,2.7,2,4.4,2h15.2h0.6c-15-20-38.9-32.9-65.8-32.9s-50.8,12.9-65.8,32.9H513.5z" />
            <path
                fill="#FFFFFF"
                d="M481.8,209.4h-7.1h-14.5c-1.7,0-3.3-0.7-4.4-2l-5.9-6.6c-0.9-1-2.1-1.6-3.5-1.6c-1.3,0-2.6,0.6-3.5,1.6
                         l-5,5.7c-1.7,1.9-4,2.9-6.5,2.9h-0.3c15,16.1,36.4,26.2,60.1,26.2c23.7,0,45.1-10.1,60.1-26.2H481.8z" />
            <path
                fill="#FFFFFF"
                d="M127.6,230.2l-16.7-40.7H36.1l-16.7,40.7H0L73.4,76.3L147,230.2H127.6z M42.4,174.1h62l-31.1-65.6
                         L42.4,174.1z" />
            <path
                fill="#FFFFFF"
                d="M173.7,230.2V76.3h42.8c33.5,0,51.1,15.4,51.1,44.3c0,27.8-18.7,43.9-51.3,43.9h-24.6v65.7H173.7z
                         M191.7,148.5h20.4c25.9,0,37.2-8.5,37.2-27.8c0-20-11.5-28.3-37.2-28.3h-20.4V148.5z" />
            <polygon
                fill="#FFFFFF"
                points="333.2,92.8 280.1,92.8 280.1,76.3 404.2,76.3 404.2,92.8 351.2,92.8 351.2,230.2 333.2,230.2 " />
            <path
                fill="#FFFFFF"
                d="M598.7,202.2l15.5-10.5l1.2,2.5c9.6,17.4,20,24.3,35.9,24.3c17.6,0,30-12.2,30-27c0-13.9-7-23.3-34.8-34.8
                         c-32-13.3-42.8-27-42.8-46.5c0-21.3,16.7-38,45.7-38c21.3,0,35.9,9.1,44.1,23.9l-12.6,8.7l-3.7-0.9c-6.5-10.2-14.6-16.1-28.3-16.1
                         c-16.7,0-26.5,9.3-26.5,22c0,11.7,6.3,18.5,33.5,30.9c35.4,16.1,44.1,29.4,44.1,50.7c0,23.3-20,43-48.5,43
                         C627.6,234.3,611.1,225.2,598.7,202.2" />
          </svg>
        </h1>
      </div>
      <div class="text-lg md:text-xl text-white font-light">
        <h2 class="font-display text-5xl md:text-7xl mb-2">
          Devnet is <span class="uppercase">Live!</span>
        </h2>
        <%= render DividerComponent.new(scheme: :primary, class: 'mt-6 mb-16') %>
        <div class="max-w-prose">
          <p class="font-display text-4xl mb-4">
          The Aptos developer experience is just getting started and we
          want you to come build with us!
          </p>
          <p class="mb-4">
          Join our thriving community and dive into our documentation to
          start your journey with Aptos. This is an extremely early look
          as we want our community to see our entire evolution and help
          create something special.
          </p>
          <p class="mb-4">
          Start building on Aptos and stay tuned for more updates around
          Testnet and Mainnet!
          </p>
        </div>

        <div
            class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-8 justify-center mt-10">
          <%= render ButtonComponent.new(href: 'https://github.com/aptos-labs', size: :large, class: 'w-full', title: 'Aptos on GitHub') do %>
            GitHub
          <% end %>
          <%= render ButtonComponent.new(href: 'https://aptos.dev/', size: :large, class: 'w-full', title: 'Aptos Docs') do %>
            Documentation
          <% end %>
          <%= render ButtonComponent.new(href: 'https://explorer.aptoslabs.com/', size: :large, class: 'w-full', title: 'Aptos Explorer') do %>
            Explorer
          <% end %>
          <%= render ButtonComponent.new(href: 'https://discord.gg/aptoslabs', size: :large, class: 'w-full', title: 'Aptos on Discord') do %>
            Discord
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white text-black py-20 font-light">
  <div class="mx-auto px-4 sm:px-8">
    <div class="max-w-5xl mx-auto">
      <h2 id="ADN Partners" class="font-display text-5xl mb-4 leading-none">
        Who is already building in Devnet?
      </h2>
      <div class="max-w-prose">
        <p class="text-xl md:text-2xl mb-20">
        We have some amazing companies and projects who are building on
        Aptos. Come join them!
        </p>
      </div>
      <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-x-12 gap-y-6 md:gap-x-24 md:gap-y-8 grayscale">
        <li class="aspect-video">
          <a title="Anchorage Digital" href="https://www.anchorage.com/" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center w-full h-full transition-transform duration-100 ease-linear">
            <img src="<%= asset_path('adn-partner-logos/anchorage-digital.svg') %>" alt="Anchorage Digital" class="w-full h-full object-contain">
          </a>
        </li>
        <li class="aspect-video">
          <a title="NodeReal" href="https://nodereal.io/" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center w-full h-full transition-transform duration-100 ease-linear">
            <img src="<%= asset_path('adn-partner-logos/nodereal.svg') %>" alt="NodeReal" class="w-full h-full object-contain">
          </a>
        </li>
        <li class="aspect-video">
          <a title="BNB Chain" href="https://www.bnbchain.world/" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center w-full h-full transition-transform duration-100 ease-linear">
            <img src="<%= asset_path('adn-partner-logos/bnb-chain.svg') %>" alt="BNB Chain" class="w-full h-full object-contain">
          </a>
        </li>
        <li class="aspect-video">
          <a title="Coinbase" href="https://www.coinbase.com/" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center w-full h-full transition-transform duration-100 ease-linear">
            <img src="<%= asset_path('adn-partner-logos/coinbase.svg') %>" alt="Coinbase" class="w-full h-full object-contain">
          </a>
        </li>
        <li class="aspect-video">
          <a title="Livepeer" href="https://livepeer.org/" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center w-full h-full transition-transform duration-100 ease-linear">
            <img src="<%= asset_path('adn-partner-logos/livepeer.svg') %>" alt="Livepeer" class="w-full h-full object-contain">
          </a>
        </li>
        <li class="aspect-video">
          <a title="Moonclave" href="https://moonclave.com/" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center w-full h-full transition-transform duration-100 ease-linear">
            <img src="<%= asset_path('adn-partner-logos/moonclave.svg') %>" alt="Moonclave" class="w-full h-full object-contain">
          </a>
        </li>
        <li class="aspect-video">
          <a title="Paymagic" href="https://www.paymagic.xyz/" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center w-full h-full transition-transform duration-100 ease-linear">
            <img src="<%= asset_path('adn-partner-logos/paymagic.svg') %>" alt="Paymagic" class="w-full h-full object-contain">
          </a>
        </li>
        <li class="aspect-video">
          <a title="Paxos" href="https://paxos.com/" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center w-full h-full transition-transform duration-100 ease-linear">
            <img src="<%= asset_path('adn-partner-logos/paxos.svg') %>" alt="Paxos" class="w-full h-full object-contain">
          </a>
        </li>
        <li class="aspect-video">
          <a title="Rarible" href="https://rarible.com/" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center w-full h-full transition-transform duration-100 ease-linear">
            <img src="<%= asset_path('adn-partner-logos/rarible.svg') %>" alt="Rarible" class="w-full h-full object-contain">
          </a>
        </li>
        <li class="aspect-video">
          <a title="StreamingFast" href="https://streamingfast.io/" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center w-full h-full transition-transform duration-100 ease-linear">
            <img src="<%= asset_path('adn-partner-logos/streaming-fast.svg') %>" alt="Streaming Fast" class="w-full h-full object-contain">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
