<% content_for(:page_title, 'Incentivized Testnet - Ensuring a production-grade Aptos mainnet.') %>
<% content_for(:page_description, 'The Aptos ecosystem is rewarding node operators, developers, content creators, project leaders, and others who help us prepare to launch a secure, reliable & decentralized network.') %>
<% content_for(:meta) do %>
  <meta property="og:image" content="https://aptoslabs.com/images/meta/aptos_meta_og_ait3.jpg">
<% end %>

<div class="bg-neutral-900 text-neutral-50 h-full">
  <div class="max-w-screen-2xl mx-auto px-6 pb-24">
    <section class="py-12 lg:py-32">
      <h3 class="text-base uppercase text-teal-400 mb-4 font-mono">Community</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 xl:gap-20">
        <h1 class="font-display text-5xl lg:text-6xl xl:text-6xl text-neutral-100">
          Ensuring a production-grade Aptos mainnet.
        </h1>
        <div class="flex items-center">
          <div>
            <p class="text-xl xl:text-2xl text-neutral-400 xl:leading-normal">
            The Aptos ecosystem is rewarding node operators, developers, content creators, project leaders, and others who help us prepare to launch a secure, reliable &amp; decentralized network.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-12 pb-20 lg:grid grid-cols-12">
      <div class="lg:col-start-2 lg:col-span-10 flex align-center items-center gap-2">
        <div class="flex flex-col justify-center relative">
          <div class="rounded-full border border-neutral-100 text-neutral-100 flex justify-center align-center w-12 h-12">
            <%= render IconComponent.new(:check, class: 'w-5 stroke-2') %>
          </div>
          <div class="absolute top-full pt-2 text-center w-full flex flex-col items-center">
            <h4 class="text-lg md:text-xl lg:text-2xl font-mono capitalize text-neutral-100 whitespace-nowrap">AIT-1</h4>
            <%= render ButtonComponent.new(href: it1_path, title: 'Aptos Incentivized Testnet 1 results', target: 'blank', size: :tiny, scheme: :secondary, class: 'mt-2') do %>
              Results
            <% end %>
          </div>
        </div>
        <div class="h-px border-b border-neutral-100 flex grow -translate-y-px"></div>
        <div class="flex flex-col justify-center relative">
          <div class="rounded-full border border-neutral-100 text-neutral-100 flex justify-center align-center w-12 h-12">
            <%= render IconComponent.new(:check, class: 'w-5 stroke-2') %>
          </div>
          <div class="absolute top-full pt-2 text-center w-full flex flex-col items-center">
            <h4 class="text-lg md:text-xl lg:text-2xl font-mono capitalize text-neutral-100 whitespace-nowrap">AIT-2</h4>
            <%= render ButtonComponent.new(href: it2_path, title: 'Aptos Incentivized Testnet 2 results', target: 'blank', size: :tiny, scheme: :secondary, class: 'mt-2') do %>
              Results
            <% end %>
          </div>
        </div>
        <div class="h-px border-b border-neutral-100 flex grow -translate-y-px"></div>
        <div class="flex flex-col justify-center relative">
          <div class="rounded-full border-2 border-teal-400 text-teal-400 flex justify-center items-center w-12 h-12">
            <%= render IconComponent.new(:aptos, class: 'w-5 h-5') %>
          </div>
          <div class="absolute top-full pt-2 text-center w-full flex flex-col items-center">
            <h4 class="text-lg md:text-xl lg:text-2xl font-mono capitalize text-teal-400 whitespace-nowrap">AIT-3</h4>
            <%= render ButtonComponent.new(href: it3_path, title: 'Aptos Incentivized Testnet 3', size: :tiny, scheme: :primary, class: 'mt-2') do %>
              Register
            <% end %>
          </div>
        </div>
        <div class="h-px border-b-2 border-neutral-400 border-dotted flex grow -translate-y-px"></div>
        <div class="flex flex-col justify-center relative">
          <div class="rounded-full border-2 border-dotted border-neutral-400 flex justify-center align-center w-12 h-12"></div>
          <div class="absolute top-full pt-2 text-center w-full flex flex-col items-center">
            <h4 class="text-lg md:text-xl lg:text-2xl font-mono capitalize text-neutral-400 whitespace-nowrap">AIT-4</h4>
          </div>
        </div>
      </div>
    </section>
    <section class="py-12 lg:py-32 lg:grid grid-cols-12">
      <div class="lg:col-start-4 lg:col-span-7">
        <h3 class="font-display text-3xl text-neutral-100 mb-4">Aptos Incentivized <span class="whitespace-nowrap">Testnet 3</span></h3>
        <p class="text-neutral-400 mb-8 text-2xl md:text-3xl lg:text-4xl max-w-4xl">Aptos Labs remains focused on launching Mainnet to bring the community the safest, fastest and most reliable foundation for building within Web3.</p>
        <div class="flex flex-col md:flex-row justify-start items-start gap-4 mb-16">
          <%= render ButtonComponent.new(href: it3_path, title: 'Aptos Incentivized Testnet 3 details', target: 'blank', size: :large, scheme: :primary, class: '') do %>
            Get Started
          <% end %>
          <%= render ButtonComponent.new(href: 'https://aptoslabs.medium.com/welcome-to-aptos-incentivized-testnet-3-9d7ce888205c', title: 'Aptos Incentivized Testnet 3 details', target: 'blank', size: :large, scheme: :secondary, class: '') do %>
            More Details
          <% end %>
        </div>
        <ul class="flex flex-col gap-4 md:gap-2 text-sm text-neutral-300 leading-tight">
          <li class="flex gap-2 items-start">
            <div class="text-teal-400 text-xl leading-none">&rarr;</div>
            <div>Please review the <%= render(LinkComponent.new(href: terms_testnet_path)) { 'Aptos Testnet Participation Terms of Use' } %>.</div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
