<section class="top-hero bg-cover bg-center w-full text-white py-20 lg:py-24 h-full flex justify-center items-center" style="background-image: url(<%= asset_path('aptos_hero_v4.jpg') %>)">
  <div class="px-4 sm:px-8">
    <div class="max-w-7xl md:mx-auto">
      <div class="grid">
        <h1>
          <%= render IconComponent.new(:aptos_word, class: 'fill-white w-5/12 md:w-3/12') %>
          <span class="sr-only">Aptos - Building the safest and most scalable Layer 1 blockchain</span>
        </h1>

        <%= render DividerComponent.new(scheme: :primary, class: 'my-6') %>

        <div class="grid grid-cols-12">
          <div class="col-span-12 col-span-11 md:col-span-10 lg:col-span-8 xl:col-span-6">
            <h2 class="text-4xl md:text-5xl font-display">
              Building the safest and most scalable Layer 1 blockchain.
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="max-w-7xl md:mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 justify-center content-center mt-16">
        <%= render CardOutlineComponent.new do %>
          <h3 class="text-teal-400 font-mono uppercase text-2xl mb-4">
            Community
          </h3>
          <%= render DividerComponent.new(class: 'mb-4') %>
          <p class="mb-8 text-lg">
          Support the Aptos Vision and Join Our Community.
          </p>
          <%= render ButtonComponent.new(href: community_path, class: 'w-full mt-auto') do %>
            Join
          <% end %>
        <% end %>

        <%= render CardOutlineComponent.new do %>
          <h3 class="text-teal-400 font-mono uppercase text-2xl mb-4">
            Explorer
          </h3>
          <%= render DividerComponent.new(class: 'mb-4') %>
          <p class="mb-8 text-lg">
          Scan Transactions and Accounts on the Network.
          </p>
          <%= render ButtonComponent.new(href: 'https://explorer.aptoslabs.com/', class: 'w-full mt-auto') do %>
            Explore
          <% end %>
        <% end %>

        <%= render CardOutlineComponent.new do %>
          <h3 class="text-teal-400 font-mono uppercase text-2xl mb-4">
            Documentation
          </h3>
          <%= render DividerComponent.new(class: 'mb-4') %>
          <p class="mb-8 text-lg">
          Discover Technical Concepts and Tutorials.
          </p>
          <%= render ButtonComponent.new(href: 'https://aptos.dev/', class: 'w-full mt-auto') do %>
            Discover
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
