<div class="flex-[2]">
  <h2 class="text-4xl text-teal-400 font-mono mb-16 mt-8">Welcome, <%= @oauth_username %>!</h2>

  <%= render "layouts/flash" %>

  <% if current_user.errors.any? %>
    <div id="error_explanation" class="flex p-4 mb-4 bg-red-100 rounded-lg dark:bg-red-200" role="alert">
      <div class="ml-3 text-sm font-medium text-red-700 dark:text-red-800">
      <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% current_user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
      </div>
    </div>
  <% end %>

  <%= render "shared/captcha_helper" %>

  <%= form_with(model: current_user, url: onboarding_email_path, method: :post, data: {turbo: false}, html: {onsubmit: "return validateRecaptcha();"}, builder: AptosFormBuilder) do |f| %>
    <div class="mb-8">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, placeholder: "ENTER YOUR EMAIL ADDRESS", class: 'md:w-96' %>
    </div>

    <div class="mb-8">
      <%= recaptcha_tags theme: :dark %>
    </div>

    <div class="mb-12">
      <%= f.submit "Verify email", class: "w-72" %>
    </div>

    <div class="text-sm">
      <label class="flex mb-4 gap-2 items-center cursor-pointer">
        <%= f.check_box :terms_accepted, required: true %>
        <span>I agree to the Aptos <a href="https://aptoslabs.com/terms/" class="font-bold text-teal-400">Terms of Use</a> and <a href="https://aptoslabs.com/privacy/" class="font-bold text-teal-400">Privacy Policy</a>.</span>
      </label>
    </div>
  <% end %>
</div>
