<div class="bg-neutral-900 text-white h-full">
  <div class="max-w-screen-2xl mx-auto px-4 sm:px-6 md:px-8 py-12 sm:py-24">
    <h2 class="text-6xl mb-4 font-display font-light">
      <%= content_for(:page_title) || 'View NFT' %>
    </h2>
    <div class="mb-16">
      <%= render DividerComponent.new(scheme: :primary) %>
    </div>

    <%= render CardOutlineComponent.new(class: 'w-fit mx-auto') do %>
      <div class="flex flex-col md:flex-row gap-8">
        <div class="flex flex-col gap-8 lg:w-96 lg:h-96 items-center justify-center">
          <p class="font-light text-xl">Lorem ipsum dolor sit amet</p>
          <%= turbo_frame_tag 'explorer_link', data: {controller: 'nft'}, format: :turbo_stream do %>
            <% if @nft.explorer_url %>
              <%= render ButtonComponent.new(href: @nft.explorer_url, target: '_blank') do %>
                View in Explorer
              <% end %>
            <% else %>
              <%= form_with(model: @nft, data: {"nft-target": "form"}) do |f| %>
                <%= f.hidden_field :explorer_url, "data-nft-target": "explorerUrl" %>
                <%= render ButtonComponent.new(disabled: true) do %>
                  Minting...
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="flex order-first md:order-last w-64 h-64 lg:w-96 lg:h-96 items-center justify-center rounded-lg bg-neutral-800 text-neutral-900" style="background-image: url(<%= nft_image_url(@nft) %>)">
        </div>
      </div>
    <% end %>
  </div>
</div>
