<% content_for(:page_title, 'APTOS : ZERO - Testnet NFT') %>
<% content_for(:page_description, 'Claim your Aptos Testnet NFT and help us test the network.') %>
<div class="bg-neutral-900 text-neutral-100 h-full">
  <div class="max-w-screen-2xl mx-auto px-6 pb-24">
    <section class="py-12 lg:py-32">
      <h3 class="text-base uppercase text-teal-400 mb-4 font-mono">Community</h3>
      <div class="grid grid-cols-1 md:grid-cols-12 gap-12 md:gap-0">
        <h1 class="font-display text-5xl lg:text-6xl md:col-span-5">
          <span class="whitespace-nowrap">APTOS <span class="inline-block align-text-top">:</span> ZERO</span><br>
          <span>Testnet NFT</span>
        </h1>
        <div class="flex items-center md:col-start-7 md:col-end-13">
          <p class="text-xl xl:text-2xl text-neutral-400">
            Claim your Aptos Testnet NFT and help us test the&nbsp;network.
          </p>
        </div>
      </div>
    </section>
    <section class="max-w-screen-xl mx-auto py-12 lg:py-18 grid grid-cols-1 md:grid-cols-12 gap-8 md:gap-0" data-controller="minted-nft" data-minted-nft-transaction-hash-value="<%= @transaction_hash %>" data-minted-nft-api-url-value="<%= @wallet.api_url %>">
      <%= content_tag :div, class: 'md:col-span-6 lg:col-span-4' do %>
        <%= render 'layouts/flash' %>
        <h2 class="font-display text-3xl mb-8">Minted NFT Details</h2>
        <dl class="mb-8 font-mono uppercase leading-8">
          <dd class="text-neutral-400 float-left">Series</dd>
          <dt class="text-right">Aptos:Zero</dt>
          <dd class="text-neutral-400 float-left">Date Minted</dd>
          <dt class="text-right" data-minted-nft-target="dateMinted">#</dt>
          <dd class="text-neutral-400 float-left">Sequence</dd>
          <dt class="text-right" data-minted-nft-target="mintNumber">#</dt>
        </dl>
        <hr class="border-t-2 border-dotted border-neutral-400 mb-8">
        <ul>
          <li class="mb-4">
            <%= link_to "https://explorer.devnet.aptos.dev/txn/#{@transaction_hash}?network=#{@wallet.network}", class: 'font-mono uppercase text-base text-teal-400 hover:text-teal-300' do %>
              View in Explorer
            <% end %>
          </li>
          <li>
            <%= link_to "http://twitter.com/intent/tweet?url=#{CGI.escape(request.url)}", class: 'font-mono uppercase text-base text-teal-400 hover:text-teal-300' do %>
              Share on Twitter
            <% end %>
          </li>
        </ul>
      <% end %>
      <div class="md:col-start-8 md:col-end-13 lg:col-span-6 lg:col-start-7">
        <%= render CardOutlineComponent.new(scheme: :filled) do %>
          <div class="flex w-full items-center justify-center border-2 border-neutral-900 text-neutral-900 aspect-square">
            <%= image_tag 'aptos_nft_zero_08302022.png', data: { minted_nft_target: 'image' } %>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
