<% content_for(:page_title, 'APTOS : ZERO - Testnet NFT') %>
<% content_for(:page_description, 'Claim your Aptos Testnet NFT and help us test the network.') %>
<% content_for(:meta) do %>
  <meta property="og:image" content="<%= image_url('meta/aptos_meta_og_nft-aptos-zero.jpg') %>">
<% end %>
<div class="bg-neutral-900 text-neutral-100 h-full" data-controller="minted-nft" data-minted-nft-transaction-hash-value="<%= @transaction_hash %>" data-minted-nft-transaction-version-value="<%= @transaction_version %>" data-minted-nft-api-url-value="<%= @wallet.api_url %>">
  <div class="max-w-screen-2xl mx-auto px-6 pb-24">
    <section class="py-12 lg:py-32">
      <h3 class="text-base uppercase text-teal-400 mb-4 font-mono">Community</h3>
      <div class="grid grid-cols-1 md:grid-cols-12 gap-12 md:gap-0">
        <h1 class="font-display text-5xl lg:text-6xl md:col-span-5">
          <span class="whitespace-nowrap">APTOS <span class="inline-block align-text-top">:</span> ZERO</span><br>
          <span>Testnet NFT <span data-minted-nft-target="mintNumber">#</span></span>
        </h1>
        <div class="flex flex-col gap-4 items-start justify-center md:col-start-7 md:col-end-13">
          <p class="text-xl xl:text-2xl text-neutral-400">
            Claim your Aptos Testnet NFT and help us test the&nbsp;network.
          </p>
          <%= render ButtonComponent.new(href: nft_offer_path(@nft_offer), title: 'Mint your own Aptos NFT', class: '!inline-flex') do %>
            Mint your own Aptos NFT
          <% end %>
        </div>
      </div>
    </section>
    <section class="max-w-screen-xl mx-auto py-12 lg:py-18 grid grid-cols-1 md:grid-cols-12 gap-8 md:gap-0">
      <%= content_tag :div, class: 'md:col-span-6 lg:col-span-5 order-last md:order-first' do %>
        <%= render 'layouts/flash' %>
        <h2 class="font-display text-3xl mb-8">Minted NFT Details</h2>
        <p class="text-red-400 hidden mb-8" data-minted-nft-target="transactionFailedError">
        NFT minting failed. Please ensure that your account has sufficient tokens to perform the transaction and try again.
        </p>
        <dl class="mb-8 font-mono uppercase leading-8">
          <dd class="text-neutral-400 float-left">Series</dd>
          <dt class="text-right">Aptos:Zero</dt>
          <dd class="text-neutral-400 float-left">Date Minted</dd>
          <dt class="text-right" data-minted-nft-target="dateMinted">#</dt>
          <dd class="text-neutral-400 float-left">Sequence</dd>
          <dt class="text-right" data-minted-nft-target="mintNumber">#</dt>
          <dd class="text-neutral-400 float-left">Address</dd>
          <dt class="text-right normal-case" data-minted-nft-target="address">#</dt>
        </dl>
        <hr class="border-t-2 border-dotted border-neutral-400 mb-8">
        <%= turbo_frame_tag :transaction_links, data: { minted_nft_target: 'transactionLinks' } do %>
        <ul>
          <li class="mb-4">
            <% explorer_url = if @transaction_version
                                "https://explorer.aptoslabs.com/txn/#{@transaction_version}?network=#{@wallet.network}"
                              else
                                "https://explorer.aptoslabs.com/txn/#{CGI.escape @transaction_hash}?network=#{@wallet.network}"
                              end %>
            <%= link_to explorer_url, class: 'font-mono uppercase text-base text-teal-400 hover:text-teal-300 flex gap-2', target: '_blank' do %>
              <%= render IconComponent.new(:search, class: 'w-5') %>
              View in Explorer
            <% end %>
          </li>
          <li>
            <% twitter_url = if @transaction_version
                               nft_offer_short_url(offer_id: @nft_offer.id, txn_version: @transaction_version)
                             else
                               request.url
                             end %>
            <%= link_to "http://twitter.com/intent/tweet?url=#{CGI.escape(twitter_url)}&text=Check%20out%20my%20APTOS%20%3A%20ZERO%20Testnet%20NFT&hashtags=AptosNFTs", class: 'font-mono uppercase text-base text-teal-400 hover:text-teal-300 flex gap-2', target: '_blank' do %>
              <%= render IconComponent.new(:twitter, class: 'w-5') %>
              Share on Twitter
            <% end %>
          </li>
        </ul>
        <% end %>
      <% end %>
      <div class="md:col-start-8 md:col-end-13 lg:col-span-5 lg:col-start-8 order-first md:order-last">
        <%= render CardOutlineComponent.new(scheme: :filled) do %>
          <div class="flex w-full items-center justify-center border-2 border-neutral-900 text-neutral-900 aspect-square">
            <%= render ButtonComponent.new(dialog: @image_dialog, scheme: :blank, class: 'cursor-zoom-in') do %>
              <%= image_tag 'aptos_nft_zero_08302022.png', data: { minted_nft_target: 'image' } %>
            <% end %>
          </div>
        <% end %>
        <%= render @image_dialog do |dialog| %>
          <%= dialog.with_title do %>
            <span data-minted-nft-target="mintNumber">#</span>
          <% end %>
          <%= dialog.with_body do %>
            <div class="outline-none" autofocus tabindex="-1">
              <%= image_tag 'aptos_nft_zero_08302022.png', class: 'max-h-[80vh]', data: { minted_nft_target: 'image' } %>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>
</div>
