<% content_for(:page_title, 'APTOS : ZERO - Official Commemorative Testnet NFT') %>
<% content_for(:page_description, 'Aptos Community - A worldwide movement of developers, node operators, educators, and other contributors') %>
<div class="bg-neutral-900 text-neutral-100 h-full">
  <div class="max-w-screen-2xl mx-auto px-6 pb-24">
    <section class="py-12 lg:py-32">
      <h3 class="text-base uppercase text-teal-400 mb-4 font-mono">Community</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 xl:gap-12">
        <h1 class="font-display text-5xl lg:text-6xl">
          APTOS : ZERO<br>
          Official Commemorative Testnet NFT
        </h1>
        <div class="flex items-center">
          <p class="text-xl xl:text-2xl text-neutral-400">
          <%= Faker::Lorem.paragraph %>
          <%= Faker::Lorem.paragraph %>
          </p>
        </div>
      </div>
    </section>
    <section class="flex flex-col gap-16 md:flex-row max-w-screen-xl mx-auto">
      <div class="flex-1">
        <%= render 'layouts/flash' %>
        <h2 class="font-display text-3xl mb-8">Claim your Aptos NFT</h2>
        <ol class="pl-4">
          <% @steps.each_with_index do |step, i| %>
            <%= content_tag :li, class: ['pl-10 relative border-dotted', step.completed ? 'pb-4 border-teal-400' : 'pb-8 border-neutral-400', i + 1 == @steps.length ? '' : 'border-l-2'] do %>
              <%= content_tag :div, class: ['absolute w-10 h-10 text-sm font-mono top-0 left-0 -translate-x-1/2 -translate-y-1 bg-neutral-900 rounded-full border-2 flex justify-center items-center', step.disabled ? 'border-neutral-400 text-neutral-400' : 'border-teal-400 text-teal-400'] do %>
                <% if step.completed %>
                  <%= render IconComponent.new(:check, size: :small) %>
                <% else %>
                  <%= i + 1 %>
                <% end %>
              <% end %>
              <%= content_tag :h3, class: ['uppercase text-2xl font-mono mb-4', step.disabled ? 'text-neutral-400' : 'text-teal-400'] do %>
                <% if step.name == :sign_in %>
                  Sign In
                <% elsif step.name == :connect_wallet %>
                  Connect Wallet
                <% elsif step.name == :claim_nft %>
                  Claim NFT
                <% end %>
              <% end %>
              <% if !step.disabled && !step.completed %>
                <p class="text-lg text-neutral-400 mb-4">
                <% if step.name == :sign_in %>
                  To begin, sign in to Aptos.
                <% elsif step.name == :connect_wallet %>
                  Connect your wallet.
                <% elsif step.name == :claim_nft %>
                  Claim your NFT.
                <% end %>
                <%= Faker::Lorem.paragraph %>
                </p>
                <%= render ButtonComponent.new(href: step.href, scheme: :primary, class: 'w-64') do %>
                  <% if step.name == :sign_in %>
                    Sign In
                  <% elsif step.name == :connect_wallet %>
                    Connect Wallet
                  <% elsif step.name == :claim_nft %>
                    Claim NFT
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </ol>
      </div>
      <div class="self-start">
        <%= render CardOutlineComponent.new(scheme: :filled) do %>
          <div class="flex w-64 h-64 lg:w-96 lg:h-96 xl:w-[600px] xl:h-[600px] items-center justify-center border-2 border-neutral-900 text-neutral-900">
            <%= render IconComponent.new(:aptos, class: 'w-32 h-32 lg:w-64 lg:h-96') %>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
