<% content_for(:page_title, 'APTOS : ZERO - Testnet NFT') %>
<% content_for(:page_description, 'Claim your Aptos Testnet NFT and help us test the network.') %>
<% content_for(:meta) do %>
  <meta property="og:image" content="<%= image_url('meta/aptos_meta_og_nft-aptos-zero.jpg') %>">
<% end %>

<style type="text/css">#global-announcement { display: none }</style>

<div class="bg-neutral-900 text-neutral-100 h-full">
  <div class="max-w-screen-2xl mx-auto px-6 pb-24">
    <section class="py-12 lg:py-32">
      <h3 class="text-base uppercase text-teal-400 mb-4 font-mono">Community</h3>
      <div class="grid grid-cols-1 md:grid-cols-12 gap-12 md:gap-0">
        <h1 class="font-display text-5xl lg:text-6xl md:col-span-5">
          <span class="whitespace-nowrap">APTOS <span class="inline-block align-text-top">:</span> ZERO</span><br>
          <span>Testnet NFT</span>
        </h1>
        <div class="flex items-center md:col-start-7 md:col-end-13">
          <p class="text-xl xl:text-2xl text-neutral-400">
            Claim your Aptos Testnet NFT and help us test the&nbsp;network.
          </p>
        </div>
      </div>
    </section>
    <section class="max-w-screen-xl mx-auto py-12 lg:py-18 grid grid-cols-1 md:grid-cols-12 gap-8 md:gap-0">
      <%= turbo_frame_tag dom_id(@nft_offer), class: 'md:col-span-6 lg:col-span-5' do %>
        <%= render 'layouts/flash' %>
        <h2 class="font-display text-3xl mb-8">Claim your NFT</h2>
        <ol class="pl-4">
          <% @steps.each_with_index do |step, i| %>
            <%= content_tag :li, class: ['pl-10 relative border-dotted', !step.disabled && !step.completed ? 'pb-16' : 'pb-4', step.completed ? 'border-teal-400 opacity-50' : 'border-neutral-400', i + 1 == @steps.length ? '' : 'border-l-2'] do %>
              <%= content_tag :div, class: ['absolute w-10 h-10 text-sm font-mono top-0 left-0 -translate-x-1/2 -translate-y-1 bg-neutral-900 rounded-full border-2 flex justify-center items-center', step.disabled ? 'border-neutral-400 text-neutral-400' : 'border-teal-400 text-teal-400'] do %>
                <% if step.completed %>
                  <%= render IconComponent.new(:check, size: :small, class: 'stroke-2') %>
                <% else %>
                  <%= i + 1 %>
                <% end %>
              <% end %>
              <%= content_tag :h3, class: ['uppercase text-2xl font-mono mb-4', step.disabled ? 'text-neutral-400' : 'text-teal-400'] do %>
                <% if step.name == :sign_in %>
                  Sign In
                <% elsif step.name == :connect_wallet %>
                  Connect Wallet
                <% elsif step.name == :claim_nft %>
                  Claim NFT
                <% end %>
              <% end %>
              <% if !step.disabled && !step.completed %>
                <p class="text-lg text-neutral-400 mb-4">
                <% if step.name == :sign_in %>
                  To begin, sign in to Aptos.
                <% elsif step.name == :connect_wallet %>
                  Connect your wallet. You will need
                  an Aptos Wallet, such as <%= render(LinkComponent.new(href: 'https://chrome.google.com/webstore/detail/petra-aptos-wallet/ejjladinnckdgjemekebdpeokbikhfci')) { 'Petra Wallet' } %>,
                  with a funded account and the network set to <%= @nft_offer.network.capitalize %>. <br>Refresh the page after installing.
                <% elsif step.name == :claim_nft %>
                  Your NFT is ready to mint!
                <% end %>
                </p>
                <% if step.name == :sign_in %>
                  <%= render ButtonComponent.new(dialog: @login_dialog, size: :large) do %>
                    Sign in
                  <% end %>
                  <%= render @login_dialog do |dialog| %>
                    <%= dialog.with_title do %>
                      Sign in with
                    <% end %>
                    <%= dialog.with_body do %>
                      <div class="flex flex-col gap-3 outline-none" autofocus tabindex="-1">
                        <%= render LoginButtonComponent.new(provider: :discord, size: :large, class: 'w-full') %>
                        <%= render LoginButtonComponent.new(provider: :google, size: :large, class: 'w-full') %>
                        <%= render LoginButtonComponent.new(provider: :github, size: :large, class: 'w-full') %>
                      </div>
                    <% end %>
                  <% end %>
                <% elsif step.name == :connect_wallet %>
                  <%= render(ConnectWalletButtonComponent.new(wallet: @wallet, required_network: @nft_offer.network, turbo_frame: dom_id(@nft_offer), scheme: :primary, size: :large, class: 'inline-flex')) %>
                <% elsif step.name == :claim_nft %>
                  <%= render(ClaimNftButtonComponent.new(nft_offer: @nft_offer, wallet: @wallet, recaptcha_v2: !params[:captcha2].blank?, scheme: :primary, size: :large, class: 'inline-flex')) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </ol>
      <% end %>
      <div class="md:col-start-8 md:col-end-13 lg:col-span-5 lg:col-start-8">
        <%= render CardOutlineComponent.new(scheme: :filled) do %>
          <div class="flex w-full items-center justify-center border-2 border-neutral-900 text-neutral-900 aspect-square">
            <%= render IconComponent.new(:aptos, class: 'w-1/2') %>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
