<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:page_title) || 'Aptos Community Platform' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= render 'layouts/google_analytics' %>
    <%= render 'layouts/typekit' %>
  </head>

  <body class="flex flex-col h-screen justify-between bg-neutral-900 antialiased">
    <div class="flex flex-col flex-1">
      <%= render HeaderComponent.new %>

      <main class="flex-1">
        <%= yield %>
      </main>
    </div>

    <%= render FooterComponent.new %>
  </body>
</html>
