<!DOCTYPE html>
<html class="scroll-pt-48" lang="en">
  <head>
    <title><%= content_for(:page_title) || 'Aptos - Building the safest and most scalable Layer 1 blockchain' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="description" content="<%= content_for(:page_description) || 'Aptos is a new, independent project to fulfill our vision of delivering the safest and most production-ready blockchain in the world.' %>">
    <meta property="og:url" content="https://aptoslabs.com<%= request.original_fullpath %>">
    <meta name="og:type" content="website">
    <meta property="og:title" content="<%= content_for(:page_title) || 'Aptos - Building the safest and most scalable Layer 1 blockchain' %>">
    <meta property="og:description" content="<%= content_for(:page_description) || 'Aptos is a new, independent project to fulfill our vision of delivering the safest and most production-ready blockchain in the world.' %>">
    <meta property="og:image:width" content="2400">
    <meta property="og:image:height" content="1260">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:site" content="@aptoslabs">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#000000">

    <% if content_for(:meta) %>
      <%= content_for(:meta) %>
    <% else %>
      <meta property="og:image" content="https://aptoslabs.com/images/meta/APTOS_meta_opengraph_051222.jpg">
      <meta name="twitter:image" content="https://aptoslabs.com/images/meta/APTOS_meta_twitter_051222.jpg">
    <% end %>

    <%= favicon_link_tag image_path('favicon.ico'), sizes: 'any' %>
    <%= favicon_link_tag image_path('favicon.svg'), type: 'image/svg+xml' %>
    <%= favicon_link_tag image_path('favicon.png'), type: 'image/png' %>
    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png">

    <%= stylesheet_link_tag "https://use.typekit.net/#{ENV.fetch('TYPEKIT_CSS_ID')}.css" %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV.fetch('GOOGLE_ANALYTICS_ID', '') %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', <%= ENV.fetch('GOOGLE_ANALYTICS_ID', '').to_json.html_safe %>, <%= { debug_mode: !Rails.env.production? }.to_json.html_safe %>);
    </script>
  </head>

  <body class="flex flex-col h-screen justify-between antialiased bg-neutral-900 <%= content_for(:body_class) %>">
    <div class="flex flex-col flex-1">
      <%= render HeaderComponent.new(user: current_user) %>
      <%= render GlobalAnnouncementComponent.new(id: 'global-announcement', class: 'flex') %>
      <main class="flex-1">
        <%= yield %>
      </main>
    </div>
    <%= render FooterComponent.new %>
  </body>
</html>
