<!DOCTYPE html>
<html>
  <head>
    <title>Community Platform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

    <div class="yield-wrapper-outer">
      <div class="yield-wrapper-inner">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
