<%= render 'layouts/application' do %>
  <div class="text-white max-w-screen-2xl mx-auto px-4 sm:px-6 md:px-8 py-12 sm:py-24">
    <h2 class="text-6xl mb-16 font-display font-light">Account Settings</h2>

    <div class="flex gap-16 flex-col md:flex-row">
      <nav class="w-full md:w-64 self-start border border-neutral-400 rounded-lg overflow-hidden">
        <ul aria-label="Account settings">
          <% sidebar_items.each do |item| %>
            <%= content_tag :li, class: ['border-b border-neutral-400 last:border-none', current_page?(item.url) ? 'font-normal' : 'font-light'] do %>
              <%= content_tag :a, item.name, href: item.url, 'aria-current': current_page?(item.url) ? true : nil, class: [
                    'block px-4 py-3 hover:bg-neutral-800 focus:bg-neutral-800',
                    current_page?(item.url) ? 'bg-neutral-800' : nil
                  ] %>
            <% end %>
          <% end %>
        </ul>
      </nav>
      <div class="flex-1 max-w-prose">
        <%= render 'layouts/flash' %>
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
