<%= render 'layouts/application' do %>
  <div class="bg-neutral-900 text-neutral-100 h-full">
    <div class="max-w-screen-lg mx-auto my-24">
      <div class="flex gap-16">
        <div class="w-64">
          <div class="mb-6">
            <% if @user.avatar.attached? %>
              <img src="<%= url_for(@user.avatar) %>" class="h-64 w-64 border border-neutral-700 rounded-xl">
            <% else %>
              <div class="h-64 w-64 border border-neutral-700 rounded-xl flex items-center justify-center text-8xl font-mono leading-none">
                <%= @user.username&.first&.upcase %>
              </div>
            <% end %>
          </div>
          <h2 class="font-light leading-none text-3xl mb-4"><%= @user.username %></h2>
          <p class="font-light text-neutral-200"><%= @user.bio %></p>
        </div>
        <div class="flex-1">
          <div class="text-sm font-medium text-center text-neutral-200 border-b border-neutral-700 mb-8">
            <ul class="flex flex-wrap -mb-px">
              <% nav_items(@user).each do |item| %>
                <li class="mr-2">
                  <%= content_tag :a, item.name, href: item.url, 'aria-current': current_page?(item.url) ? true : nil, class: [
                        'inline-block p-4 rounded-t-lg border-b-2',
                        current_page?(item.url) ? 'text-teal-400 border-teal-400 active' : 'border-transparent hover:border-neutral-400 hover:text-neutral-100'
                      ] %>
                </li>
              <% end %>
            </ul>
          </div>
          <div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
