<% content_for(:page_title, 'Connection Settings') %>
<h3 class="text-4xl mb-8 font-display font-light">Connections</h3>
<% User.omniauth_providers.each do |provider| %>
  <% authorization = @authorizations[provider.to_s] %>
  <div class="mb-8 flex justify-between">
    <div class="flex gap-4 items-center">
      <%= render IconComponent.new(provider, size: :large) %>
      <div>
        <h4 class="text-xl font-display font-light"><%= provider.to_s.titleize %></h4>
        <% if authorization %>
          <p><%= authorization.display_shortname %></p>
        <% end %>
      </div>
    </div>
    <div class="w-48">
      <% if authorization %>
        <%= form_with(model: authorization, url: settings_connections_url, method: :delete) do |form| %>
          <%= form.hidden_field :provider %>
          <%= render ButtonComponent.new(scheme: :secondary, type: :submit, class: 'w-full') do %>
            Disconnect
          <% end %>
        <% end %>
      <% else %>
        <%= form_with url: omniauth_authorize_path(User, provider), data: {turbo: false} do |form| %>
          <%= render ButtonComponent.new(type: :submit, class: 'w-full') do %>
            Connect
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
