<% content_for(:page_title, 'Notification Settings') %>
<h3 class="text-4xl mb-8 font-display font-light">Notifications</h3>
<%= form_with(model: @email_preferences, url: settings_notifications_path, method: :patch, builder: AptosFormBuilder) do |f| %>
  <% if @email_preferences.errors.any? %>
    <div id="error_explanation" class="flex p-4 mb-4 bg-red-100 rounded-lg lg:w-96" role="alert">
      <div class="ml-3 text-sm font-medium text-red-700">
        <h2><%= pluralize(@email_preferences.errors.count, 'error') %> prohibited this from being saved:</h2>
        <ul>
          <% @email_preferences.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <label class="flex gap-2 items-start cursor-pointer">
    <%= f.check_box :node_upgrade_notification %>
    <span>Node upgrade notifications</span>
  </label>

  <label class="flex gap-2 items-start cursor-pointer">
    <%= f.check_box :governance_proposal_notification %>
    <span>Governance proposal notifications</span>
  </label>

  <%= f.submit 'Update', class: 'mt-8' %>
<% end %>
