<% content_for(:page_title, 'Profile Settings') %>
<h3 class="text-4xl mb-8 font-display font-light">Profile</h3>
<%= form_with(model: @user, url: settings_profile_url, builder: AptosFormBuilder) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="flex p-4 mb-4 bg-red-100 rounded-lg dark:bg-red-200 lg:w-96" role="alert">
      <div class="ml-3 text-sm font-medium text-red-700 dark:text-red-800">
        <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this from being saved:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="mb-6">
    <%= f.label :username, class: 'font-mono uppercase block mb-2' %>
    <ul class="font-mono text-xs mb-2">
      <li>Allowed Characters: a-z, A-Z, 0-9, _, -</li>
      <li>Must begin and end alphanumerically</li>
      <li>May not have two consecutive _ or -</li>
    </ul>
    <%= f.text_field :username, autofocus: true, spellcheck: false, pattern: User::USERNAME_REGEX_JS, minlength: 3, maxlength: 20 %>
  </div>

  <div class="mb-6">
    <%= f.label :email, class: 'font-mono uppercase block mb-2' %>
    <%= f.email_field :email, autofocus: true, spellcheck: false %>
  </div>

  <%= f.submit 'Update' %>
<% end %>

<% delete_account_dialog = DialogComponent.new(id: 'delete_account_dialog')
   verif_number = Random.rand(10_000..100_000) %>

<div class="mt-16">
  <div>
    <%= render ButtonComponent.new(size: :small, scheme: :secondary, class: 'border-white-100 p-4', dialog: delete_account_dialog) do %>
      delete account
    <% end %>

    <%= render delete_account_dialog do |dialog| %>
      <%= dialog.with_title do %>
        Delete Account
      <% end %>
      <%= dialog.with_body do %>
        <div class="flex flex-col gap-3 outline-none font-light" autofocus tabindex="-1">
          <div>
            <span class="font-bold text-red-600">WARNING:</span> Your account cannot be recovered once it has been
            deleted.
          </div>
          <div>
            Please type <span class="text-red-600 font-bold select-none">delete my account <%= verif_number %></span> to confirm.
          </div>

          <%= form_with(model: @user, url: settings_delete_account_url, builder: AptosFormBuilder, method: :delete) do |f| %>

            <%= f.hidden_field :verification_number, value: verif_number %>

            <div class="text-center">
              <div class="mb-6">
                <%= f.text_field :verification_text, autofocus: true, autocomplete: 'off', spellcheck: false %>
              </div>
              <div class="flex flex-row items-center justify-center">
                <%= f.submit 'Delete' %>
              </div>
            </div>

          <% end %>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
