<% content_for(:page_title, 'Account Settings') %>
<h3 class="text-4xl mb-8 font-display font-light">Profile</h3>
<%= form_with(model: @user, url: settings_profile_path, builder: AptosFormBuilder) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="flex p-4 mb-4 bg-red-100 rounded-lg lg:w-96" role="alert">
      <div class="ml-3 text-sm font-medium text-red-700">
        <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this from being saved:</h2>
        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="mb-6">
    <%= f.label :username, class: 'font-mono uppercase block mb-2' %>
    <%= f.text_field :username, autofocus: true, spellcheck: false, pattern: User::USERNAME_REGEX_JS, minlength: 3, maxlength: 20 %>
    <ul class="list-disc list-inside text-neutral-400 text-xs font-light mt-4 block">
      <li>Allowed Characters: a-z, A-Z, 0-9, _, -</li>
      <li>Must begin and end alphanumerically</li>
      <li>May not have two consecutive _ or -</li>
    </ul>
  </div>

  <div class="mb-6">
    <%= f.label :email, class: 'font-mono uppercase block mb-2' %>
    <%= f.email_field :email, autofocus: true, spellcheck: false %>
  </div>

  <%= f.submit 'Update' %>
<% end %>

<% delete_account_dialog = DialogComponent.new(id: 'delete_account_dialog')
   verif_number = Random.rand(10_000..100_000) %>

<div class="flex justify-end mt-10">
  <%= render ButtonComponent.new(size: :small, class: 'bg-transparent text-red-400 uppercase font-normal px-0 py-0', dialog: delete_account_dialog) do %>
    delete account
  <% end %>
</div>

<%= render delete_account_dialog do |dialog| %>
  <%= dialog.with_title do %>
    Delete Account
  <% end %>
  <%= dialog.with_body do %>
    <div class="flex flex-col gap-3 outline-none font-light">
      <div>
        <span class="font-bold text-red-400">WARNING:</span> Your account cannot be recovered once it has been
        deleted.
      </div>
      <div>
        Please type <span class="text-red-400 font-bold select-none">delete my account <%= verif_number %></span> to confirm.
      </div>

      <%= form_with(model: @user, url: settings_delete_account_url, builder: AptosFormBuilder, method: :delete) do |f| %>

        <%= f.hidden_field :verification_number, value: verif_number %>

        <div class="text-center">
          <div class="mb-6">
            <%= f.text_field :verification_text, autofocus: true, autocomplete: 'off', spellcheck: false, class: 'focus:border-red-400' %>
          </div>
          <div class="flex flex-row items-center justify-center">
            <%= f.submit 'Delete', class: 'rounded-lg bg-red-400 w-full text-neutral-900' %>
          </div>
        </div>

      <% end %>

    </div>
  <% end %>
<% end %>
