<div class="bg-neutral-900 h-full px-4 sm:px-6 md:px-8 py-12 sm:py-24">
  <div class="flex justify-center items-center w-full h-full">
    <div class="max-w-xl w-full ">
      <%= render 'layouts/flash' %>
      <%= render CardOutlineComponent.new(scheme: :filled) do %>
        <h3 class="flex items-start gap-2 font-mono uppercase text-xl mb-2 text-neutral-300">
          Sign in with
        </h3>
        <div class="mb-8"><%= render DividerComponent.new %></div>
        <div class="flex flex-col gap-3">
          <%= render LoginButtonComponent.new(provider: :discord, size: :large, class: 'w-full') %>
          <%= render LoginButtonComponent.new(provider: :google, size: :large, class: 'w-full') %>
          <%= render LoginButtonComponent.new(provider: :github, size: :large, class: 'w-full') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
