<div class="flex flex-col sm:flex-row sm:h-full">
  <div class="text-white sm:order-2 bg-cover bg-center text-center hidden sm:flex flex-1 justify-center flex-col p-8 sm:h-full" style="background-image: url(<%= asset_path('hero_v3-min.9c96f35d.jpg') %>)">
    <h2 class="text-4xl mb-2">Welcome to Aptos</h2>
    <p class="text-md">Building the safest and most scalable Layer 1 blockchain</p>
  </div>

  <div class="p-8 flex flex-1 justify-center flex-col text-center sm:h-full">
    <h3 class="text-gray-500 flex items-center gap-2 mb-4">
      <hr class="flex-1">
      <span>Sign in with</span>
      <hr class="flex-1">
    </h3>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="flex justify-center gap-2">
    <%= form_with url: omniauth_authorize_path(resource_class, :github), data: {turbo: false} do |form| %>
      <%= form.submit "GitHub", class: "p-8 font-medium z-30 text-base inline-flex items-center justify-center leading-none pt-2 pb-2 px-10 border rounded-full border border-black text-black uppercase bg-transparent hover:bg-emerald-500 hover:border-emerald-500 hover:text-white transition duration-150 ease-in-out cursor-pointer" %>
    <% end %>
    <%= form_with url: omniauth_authorize_path(resource_class, :discord), data: {turbo: false} do |form| %>
      <%= form.submit "Discord", class: "p-8 font-medium z-30 text-base inline-flex items-center justify-center leading-none pt-2 pb-2 px-10 border rounded-full border border-black text-black uppercase bg-transparent hover:bg-emerald-500 hover:border-emerald-500 hover:text-white transition duration-150 ease-in-out cursor-pointer" %>
    <% end %>
    </div>
  </div>
</div>
