<% content_for(:page_title, 'Articles') %>
<section class="bg-white text-black font-light py-12 sm:py-24 h-full">
  <div class="container mx-auto">
    <div class="max-w-4xl mx-auto">
      <h2 class="font-display text-5xl md:text-7xl mb-4 leading-none">
        <%= content_for(:page_title) %>
      </h2>
      <%= render DividerComponent.new(scheme: :primary, class: 'mt-6 mb-16') %>
      <% @articles.each do |article| %>
        <div class="mb-8">
          <a
              href="<%= article_path(slug: article.slug) %>"
              class="flex flex-col hover:opacity-80 md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 text-black hover:text-teal-500 transition duration-150 ease-in-out"
              rel="noopener noreferrer">
              <div class="flex flex-col p-4">
                <h2 class="text-4xl mb-2 block font-display"><%= article.title %></h2>
                <div>
                  <time class="text-xl" :datetime="formatDateTimeAttribute">
                    <%= article.created_at.to_date.to_fs(:long) %>
                  </time>
                  -
                  <span>(<%= time_ago_in_words(article.created_at) %> ago)</span>
                </div>
              </div>
          </a>
        </div>
      <% end %>
      <%= render ButtonComponent.new(href: 'https://medium.com/aptoslabs', size: :large, target: '_blank', rel: 'noopener noreferrer') do %>
        Follow @aptoslabs on Medium
      <% end %>
    </div>
  </div>
</section>
