<div class="bg-black bg-cover bg-center text-white" style="background-image: url(<%= asset_path('hero_v3-min.9c96f35d.jpg') %>)">
  <header class="flex px-16 py-8 items-center">
    <a href="/">
      <svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 0 112 112" overflow="visible" xml:space="preserve"><path fill="#FFF" d="M86.6 37.4h-9.9c-1.1 0-2.2-.5-3-1.3l-4-4.5c-1.2-1.3-3.1-1.4-4.5-.3l-.3.3-3.4 3.9c-1.1 1.3-2.8 2-4.5 2H2.9C1.4 41.9.4 46.6 0 51.3h51.2c.9 0 1.8-.4 2.4-1l4.8-5c.6-.6 1.4-1 2.3-1h.2c.9 0 1.8.4 2.4 1.1l4 4.5c.8.9 1.9 1.4 3 1.4H112c-.4-4.7-1.4-9.4-2.9-13.8H86.6zM53.8 65l-4-4.5c-1.2-1.3-3.1-1.4-4.5-.3l-.3.3-3.5 3.9c-1.1 1.3-2.7 2-4.4 2H.8c.9 4.8 2.5 9.5 4.6 14h25.5c.9 0 1.7-.4 2.4-1l4.8-5c.6-.6 1.4-1 2.3-1h.2c.9 0 1.8.4 2.4 1.1l4 4.5c.8.9 1.9 1.4 3 1.4h56.6c2.1-4.4 3.7-9.1 4.6-14H56.8c-1.2 0-2.3-.5-3-1.4zM73.4 21.4l4.8-5c.6-.6 1.4-1 2.3-1h.2c.9 0 1.8.4 2.4 1l4 4.5c.8.9 1.9 1.3 3 1.3h10.8c-18.8-24.8-54.1-29.7-79-11-4.1 3.1-7.8 6.8-11 11H71c1 .2 1.8-.2 2.4-.8zM34.7 94.2c-1.2 0-2.3-.5-3-1.3l-4-4.5c-1.2-1.3-3.2-1.4-4.5-.2l-.2.2-3.5 3.9c-1.1 1.3-2.7 2-4.4 2h-.2C36 116.9 71.7 118 94.4 96.7c.9-.8 1.7-1.7 2.6-2.6H34.7z"/></svg>
    </a>
  </header>

  <div class="p-8 lg:p-16 xl:px-32 mx-auto">
    <div class="sm:px-8 mb-16 md:mb-24">
      <h1 class="mb-8">
        <svg fill="#fff" height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 258.21 60.7"><title>Aptos</title><path d="M197.83 20.31h-5.35a2.17 2.17 0 0 1-1.63-.74l-2.17-2.45a1.71 1.71 0 0 0-2.55 0l-1.86 2.1a3.2 3.2 0 0 1-2.4 1.09h-29.28A30.34 30.34 0 0 0 151 27.8h27.64a1.77 1.77 0 0 0 1.28-.55l2.58-2.69a1.71 1.71 0 0 1 1.23-.52h.1a1.74 1.74 0 0 1 1.28.57l2.17 2.45a2.16 2.16 0 0 0 1.63.74h22.55a29.9 29.9 0 0 0-1.59-7.49h-12ZM167.72 43.55A1.79 1.79 0 0 0 169 43l2.57-2.69a1.74 1.74 0 0 1 1.23-.52h.11a1.74 1.74 0 0 1 1.28.57l2.16 2.45a2.19 2.19 0 0 0 1.63.74h30.57a30 30 0 0 0 2.5-7.55H181.7a2.18 2.18 0 0 1-1.62-.73l-2.17-2.45a1.71 1.71 0 0 0-1.28-.58 1.67 1.67 0 0 0-1.27.58l-1.86 2.1a3.22 3.22 0 0 1-2.41 1.08h-19.68a30 30 0 0 0 2.49 7.57ZM189.41 12.12a1.79 1.79 0 0 0 1.29-.55l2.57-2.68a1.7 1.7 0 0 1 1.23-.53h.11a1.67 1.67 0 0 1 1.27.58l2.17 2.45a2.21 2.21 0 0 0 1.63.73h5.81a30.34 30.34 0 0 0-48.52 0ZM177.73 51.05h-7.95a2.15 2.15 0 0 1-1.62-.74L166 47.86a1.72 1.72 0 0 0-2.56 0L161.57 50a3.19 3.19 0 0 1-2.4 1.09h-.12a30.33 30.33 0 0 0 44.37 0ZM47.07 58.74l-6.17-15H13.31l-6.17 15H0L27.06 2l27.15 56.74ZM15.64 38.05h22.85L27 13.86ZM64.07 58.74V2h15.8c12.35 0 18.84 5.65 18.84 16.32 0 10.26-6.89 16.2-18.92 16.2h-9.06v24.22Zm6.66-30.16h7.54c9.54 0 13.73-3.12 13.73-10.26 0-7.38-4.25-10.43-13.71-10.43h-7.56ZM122.89 8.05h-19.57V1.96h45.79v6.09h-19.57v50.69h-6.65V8.05zM220.84 48.39l5.73-3.89.44.92c3.53 6.42 7.38 9 13.23 9 6.5 0 11.07-4.49 11.07-9.95 0-5.13-2.57-8.58-12.83-12.83-11.79-4.89-15.8-9.94-15.8-17.16 0-7.86 6.18-14 16.84-14 7.86 0 13.23 3.36 16.28 8.82l-4.65 3.21-1.36-.33c-2.41-3.76-5.38-5.93-10.43-5.93-6.17 0-9.78 3.45-9.78 8.1 0 4.33 2.32 6.82 12.35 11.39 13.07 5.93 16.28 10.82 16.28 18.68 0 8.58-7.38 15.88-17.89 15.88-8.82 0-14.91-3.37-19.48-11.87"/></svg>
      </h1>
      <div class="mb-8">
        <%= render 'shared/bump_hero' %>
      </div>
      <h2 class="text-2xl lg:w-[320px]">The safest and most scalable Layer 1 blockchain.</h2>
    </div>

    <div class="flex flex-col md:flex-row gap-8 lg:gap-16 justify-center">
      <%= render 'shared/outline_card' do %>
        <h3 class="text-[#1dd7a5] font-mono uppercase text-2xl mb-4">Community</h3>
        <hr class="border-[#1dd7a5] mb-4">
        <p class="mb-8">platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper.</p>
        <%= link_to "Click Here", "#", class: "w-full bg-[#1dd7a5] text-neutral-800 block p-2 text-center font-mono uppercase text-lg rounded font-bold mt-auto" %>
      <% end %>
      <%= render 'shared/outline_card' do %>
        <h3 class="text-[#1dd7a5] font-mono uppercase text-2xl mb-4">Explorer</h3>
        <hr class="border-[#1dd7a5] mb-4">
        <p class="mb-8">platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper.</p>
        <%= link_to "Click Here", "#", class: "w-full bg-[#1dd7a5] text-neutral-800 block p-2 text-center font-mono uppercase text-lg rounded font-bold mt-auto" %>
      <% end %>
      <%= render 'shared/outline_card' do %>
        <h3 class="text-[#1dd7a5] font-mono uppercase text-2xl mb-4">Documentation</h3>
        <hr class="border-[#1dd7a5] mb-4">
        <p class="mb-8">platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper.</p>
        <%= link_to "Click Here", "#", class: "w-full bg-[#1dd7a5] text-neutral-800 block p-2 text-center font-mono uppercase text-lg rounded font-bold mt-auto" %>
      <% end %>
    </div>
  </div>

  <div class="bg-white text-black p-8 md:py-16 p-8 md:px-32">
    <div class="flex flex-col sm:flex-row mb-8 gap-8 items-center justify-between">
      <h3 class="lg:w-96 text-4xl">Register for Aptos Incentivized Testnet</h3>
      <%= link_to "Get Started", it1_path, class: "w-full lg:w-96 bg-[#1dd7a5] text-neutral-800 block p-2 text-center font-mono uppercase text-lg rounded font-bold" %>
    </div>
    <hr class="border-[#1dd7a5]">
  </div>
</div>
