<div class="flex flex-col lg:flex-row gap-8 sm:gap-24 xl:gap-48 justify-between flex-[2]">
  <div>
    <div class="sm:w-[36rem] mb-8 sm:mb-12 font-light sm:text-lg">
      <h2 class="text-3xl font-display mb-4">Ensuring a production-grade Aptos mainnet.</h2>
      <p class="mb-4">
      The Aptos community is coming together to build a secure, reliable, and decentralized network through a series of incentivized testnets.
      </p>
      <p>
      Additional detail of the Aptos Incentivized Testnet 1 available <a href="https://medium.com/aptoslabs/aptos-incentivized-testnet-update-abcfcd94d54c" class="underline decoration-surf-400 decoration-1 underline-offset-4">here</a>.
      Please review the <a href="https://aptoslabs.com/terms-testnet/" class="underline decoration-surf-400 decoration-1 underline-offset-4">terms and conditions</a>.
      </p>
    </div>
    <dialog id="login-dialog" class="rounded-xl bg-neutral-900 text-white p-8 w-96">
      <div class="flex items-center mb-4">
        <h3 id="login-dialog-title" class="font-mono uppercase text-2xl">Register with</h3>
        <form method="dialog" class="ml-auto text-right">
          <button class="flex items-center justify-center w-6 h-6 border-neutral-600 hover:border-surf-400 fill-white/50 hover:fill-white/75" type="submit" aria-label="Close Dialog">
            <span class="sr-only">Close</span>
            <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 51.9"><polygon points="57.84 2.93 55.02 0.11 32 23.12 8.98 0.1 6.16 2.93 29.17 25.95 6.16 48.97 8.98 51.8 32 28.78 55.02 51.8 57.84 48.97 34.83 25.95 57.84 2.93"></polygon></svg>
          </button>
        </form>
      </div>
      <div class="mb-8"><%= render 'shared/bump' %></div>
      <div class="flex flex-col gap-3">
          <%= form_with url: omniauth_authorize_path(User, :github), data: {turbo: false} do |form| %>
            <button type="submit" class="flex items-center justify-center gap-4 bg-[#24292f] w-full px-8 py-4 text-center font-mono uppercase text-xl rounded-lg font-bold mt-auto whitespace-nowrap hover:brightness-110">
              <svg class="fill-white w-8 h-8" height="100" aria-hidden="true" viewBox="0 0 16 16" width="100"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>
              <span>Github</span>
            </button>
          <% end %>
          <%= form_with url: omniauth_authorize_path(User, :discord), data: {turbo: false} do |form| %>
            <button type="submit" class="flex items-center justify-center gap-4 bg-[#5865F2] w-full px-8 py-4 text-center font-mono uppercase text-xl rounded-lg font-bold mt-auto whitespace-nowrap hover:brightness-110">
              <svg class="fill-white w-8 h-8" width="100" height="100" viewBox="0 0 71 55" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)"><path d="M60.105 4.898A58.55 58.55 0 0 0 45.653.415a.22.22 0 0 0-.233.11 40.784 40.784 0 0 0-1.8 3.697c-5.456-.817-10.886-.817-16.23 0-.485-1.164-1.201-2.587-1.828-3.697a.228.228 0 0 0-.233-.11 58.386 58.386 0 0 0-14.451 4.483.207.207 0 0 0-.095.082C1.578 18.73-.944 32.144.293 45.39a.244.244 0 0 0 .093.167c6.073 4.46 11.955 7.167 17.729 8.962a.23.23 0 0 0 .249-.082 42.08 42.08 0 0 0 3.627-5.9.225.225 0 0 0-.123-.312 38.772 38.772 0 0 1-5.539-2.64.228.228 0 0 1-.022-.378c.372-.279.744-.569 1.1-.862a.22.22 0 0 1 .23-.03c11.619 5.304 24.198 5.304 35.68 0a.219.219 0 0 1 .233.027c.356.293.728.586 1.103.865a.228.228 0 0 1-.02.378 36.384 36.384 0 0 1-5.54 2.637.227.227 0 0 0-.121.315 47.249 47.249 0 0 0 3.624 5.897.225.225 0 0 0 .249.084c5.801-1.794 11.684-4.502 17.757-8.961a.228.228 0 0 0 .092-.164c1.48-15.315-2.48-28.618-10.497-40.412a.18.18 0 0 0-.093-.084Zm-36.38 32.427c-3.497 0-6.38-3.211-6.38-7.156 0-3.944 2.827-7.156 6.38-7.156 3.583 0 6.438 3.24 6.382 7.156 0 3.945-2.827 7.156-6.381 7.156Zm23.593 0c-3.498 0-6.38-3.211-6.38-7.156 0-3.944 2.826-7.156 6.38-7.156 3.582 0 6.437 3.24 6.38 7.156 0 3.945-2.798 7.156-6.38 7.156Z"/></g><defs><clipPath id="a"><path fill="#000" d="M0 0h71v55H0z"/></clipPath></defs></svg>
              <span>Discord</span>
            </button>
          <% end %>
      </div>
    </dialog>
    <script type="application/javascript">
        const dialog = document.getElementById("login-dialog");
        dialog.addEventListener("click", onClick);
        function showLoginModal(title) {
            dialog.querySelector('#login-dialog-title').innerHTML = title;
            dialog.showModal();
        }
        function onClick(event) {
          if (event.target === dialog) {
            dialog.close();
          }
        }
    </script>
    <p class=" mb-4">
      <%= render(ButtonComponent.new(size: :large, onclick: 'showLoginModal("Register with")', class: 'w-full mt-auto')) do %>
        Register for Testnet
      <% end %>
    </p>
    <p>
      <%= render(ButtonComponent.new(size: :large, scheme: :secondary, onclick: 'showLoginModal("Sign in with")', class: 'w-full mt-auto')) do %>
        Sign in
      <% end %>
    </p>
  </div>
</div>
