<div class="flex flex-col lg:flex-row gap-8 sm:gap-24 xl:gap-48 justify-between flex-[2]">
  <div>
    <div class="sm:w-[36rem] mb-8 sm:mb-12 font-light sm:text-lg">
      <p class="mb-4">
      Ensuring a production-grade Aptos mainnet.
      <br>
      The Aptos community is coming together to build a secure, reliable, and decentralized network through a series of incentivized testnets.
      </p>
      <p>
      Additional detail of the Aptos Incentivized Testnet 1 available <a href="https://medium.com/aptoslabs/aptos-incentivized-testnet-update-abcfcd94d54c" class="underline">here</a>.
      Please review the <a href="https://aptoslabs.com/terms-testnet/" class="underline">terms and conditions</a>.
      </p>
    </div>

    <%= render "layouts/flash" %>

    <div class="flex flex-col lg:flex-row gap-8 sm:gap-16 2xl:gap-24">
      <div id="first-step" class="bg-neutral-800 rounded-md flex flex-col flex-1">
        <h3 class="font-mono uppercase mb-2 bg-neutral-700 text-teal-400 px-4 py-2 rounded-t-md text-sm">Step 1</h3>
        <div class="px-8 py-4 flex flex-col flex-1">
          <h4 class="text-teal-400 font-mono uppercase text-2xl mb-4">Node Verification</h4>
          <div class="mb-4"><%= render 'shared/bump' %></div>
          <p class="mb-8 font-light">
          Register your node, and automatically verify that it is set up correctly.
          </p>
          <% if current_user&.it1_profile&.validator_verified? %>
            <%= render(ButtonComponent.new(href: edit_it1_profile_path(current_user.it1_profile), class: 'w-full mt-auto')) do %>
              Edit Registration
            <% end %>
          <% else %>
            <%= render(ButtonComponent.new(href: new_it1_profile_path, class: 'w-full mt-auto')) do %>
              Register
            <% end %>
          <% end %>
        </div>
      </div>
      <% if current_user&.it1_profile&.validator_verified?
           cls = ''
           title = ''
         else
           cls = 'cursor-not-allowed select-none opacity-50'
           title = 'title="You must complete Node Verification first" onclick="shakeFirst()"'.html_safe
         end
      %>

      <script type="application/javascript">
          function shakeFirst() {
              const element = document.getElementById("first-step");
              if (element) {
                  element.classList.add("shake");
                  setTimeout(() => {
                      element.classList.remove("shake");
                  }, 300);
              }
          }
      </script>
      <div class="bg-neutral-800 rounded-md flex flex-col flex-1 <%=cls%>" <%=title%>>
        <h3 class="font-mono uppercase mb-2 bg-neutral-700 text-teal-400 px-4 py-2 rounded-t-md text-sm">Step 2</h3>
        <div class="px-8 py-4 flex flex-col flex-1">
          <h4 class="text-teal-400 font-mono uppercase text-2xl mb-4">Identity Verification</h4>
          <div class="mb-4"><%= render 'shared/bump' %></div>
          <p class="mb-8 font-light">
          Identity must be verified by noon (PST) May 23 to get into the selection process.
          </p>
          <% if current_user&.kyc_complete? %>
            <div class="w-full bg-teal-400 text-neutral-800 block p-2 text-center font-mono uppercase text-lg rounded font-bold mt-auto cursor-not-allowed select-none">
              Verification Complete
            </div>
          <% elsif current_user&.it1_profile&.validator_verified? %>
            <%= render(ButtonComponent.new(href: onboarding_kyc_redirect_path, class: 'w-full mt-auto')) do %>
              Verify
            <% end %>
          <% else %>
            <div class="w-full bg-teal-400 text-neutral-800 block p-2 text-center font-mono uppercase text-lg rounded font-bold mt-auto cursor-not-allowed select-none">
              Verify
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
