<div class="flex flex-col lg:flex-row gap-8 sm:gap-24 xl:gap-48 justify-between flex-[2]">
  <div>
    <div class="sm:w-[36rem] mb-12 font-light sm:text-lg">
      <%= render 'shared/it1_intro' %>
    </div>

    <%= render "layouts/flash" %>

    <div class="flex flex-col lg:flex-row gap-8" data-controller="shake">
      <% @steps.each_with_index do |step, i| %>
        <div data-action="<%= step.disabled ? 'click->shake#shake' : '' %>" data-target="<%= !step.disabled && !step.completed ? 'shake.content' : '' %>" class="bg-neutral-800 rounded-md flex flex-col flex-1 <%= step.disabled ? 'cursor-not-allowed select-none opacity-50' : '' %>">
          <h3 class="font-mono uppercase mb-2 bg-neutral-700 text-teal-400 px-4 py-2 rounded-t-md text-sm">Step <%= i + 1 %></h3>
          <div class="px-8 py-4 flex flex-col flex-1">
            <h4 class="text-teal-400 font-mono uppercase text-2xl mb-4">
              <% if step.name == :connect_discord %>
                Connect Discord
              <% elsif step.name == :node_registration %>
                Node Registration
              <% elsif step.name == :identity_verification %>
                Identity Verification
              <% end %>
            </h4>

            <div class="mb-4"><%= render 'shared/bump' %></div>

            <p class="mb-8 font-light">
            <% if step.name == :connect_discord %>
              Sign in to your Discord to continue node verification.
            <% elsif step.name == :node_registration %>
              Register your node, and automatically verify that it is set up correctly.
            <% elsif step.name == :identity_verification %>
              Identity must be verified by noon (PST) May 23 to get into the selection process.
            <% end %>
            </p>

            <% if step.dialog %>
              <%= render step.dialog do |dialog| %>
                <%= dialog.with_title do %>
                  <% if step.name == :connect_discord %>
                    Connect Discord
                  <% end %>
                <% end %>
                <%= dialog.with_body do %>
                  <% if step.name == :connect_discord %>
                    <%= render LoginButtonComponent.new(provider: :discord, size: :large, class: 'w-96') %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>

            <%= render ButtonComponent.new(href: step.disabled ? nil : step.href, dialog: step.dialog, class: 'w-full mt-auto', disabled: step.disabled) do %>
              <% if step.completed %>
                <%= render IconComponent.new(:check_circle, size: :medium) %>
              <% elsif step.name == :connect_discord %>
                Sign in
              <% elsif step.name == :node_registration %>
                Register
              <% elsif step.name == :identity_verification %>
                Verify
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
