<div>
  <%= form_with(model: it3_profile, class: 'flex basis-full flex-col md:flex-row md:gap-10 md:justify-between', data: { turbo: !@show_recaptcha_v2, controller: 'recaptcha', action: 'recaptcha#validate' }, builder: AptosFormBuilder) do |f| %>
    <div>
      <% if it3_profile.errors.any? %>
        <div id="error_explanation" class="flex p-4 mb-4 bg-red-100 rounded-lg lg:w-96" role="alert">
          <div class="ml-3 text-sm font-medium text-red-700">
            <h2><%= pluralize(it3_profile.errors.count, 'error') %> prohibited this from being saved:</h2>

            <ul>
              <% it3_profile.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div>
        <div class="mb-16">
          <h3 class="text-teal-400 font-mono uppercase text-2xl mb-2">Public Keys</h3>
          <div class="mb-8"><%= render DividerComponent.new %></div>

          <div class="mb-6">
            <%= f.label :fullnode_network_key, 'Fullnode public key', class: 'font-mono uppercase block mb-2' %>
            <%= f.text_field :fullnode_network_key, autofocus: true, required: true, pattern: '0x[a-f0-9]{64}', spellcheck: false %>
          </div>
        </div>
        <div class="mb-16">
          <h3 class="text-teal-400 font-mono uppercase text-2xl mb-2">FullNode</h3>
          <div class="mb-8"><%= render DividerComponent.new %></div>

          <div class="mb-6">
            <%= f.label :fullnode_address, 'Address (IP or hostname)', class: 'font-mono uppercase block mb-2' %>
            <%= f.text_field :fullnode_address, required: true, spellcheck: false %>
          </div>

          <div class="flex gap-8 md:gap-16 mb-6 items-end">
            <div class="flex-1">
              <%= f.label :fullnode_port, 'Fullnode (noise) port', class: 'font-mono uppercase block mb-2' %>
              <%= f.text_field :fullnode_port, required: true, pattern: '[0-9]+', spellcheck: false %>
            </div>
            <div class="flex-1">
              <%= f.label :fullnode_metrics_port, 'Metrics port', class: 'font-mono uppercase block mb-2' %>
              <%= f.text_field :fullnode_metrics_port, required: true, pattern: '[0-9]+', spellcheck: false %>
            </div>
          </div>

          <div class="flex gap-8 md:gap-16 mb-4 items-end">
            <div class="flex-1">
              <%= f.label :fullnode_api_port, 'API port', class: 'font-mono uppercase block mb-2' %>
              <%= f.text_field :fullnode_api_port, required: true, pattern: '[0-9]+', spellcheck: false %>
            </div>
            <div class="flex-1"></div>
          </div>

        </div>
      </div>
    </div>

    <div>
      <div class="md:sticky md:top-32 max-w-md self-center ">
        <div class="bg-neutral-800 rounded-md px-4 py-8 md:px-8 md:py-16 2xl:px-16w-full md:w-auto">
          <%= f.submit 'Submit', class: 'w-full mb-8' %>
          <div class="mb-8">
            <% if @show_recaptcha_v2 %>
              <%= recaptcha_tags theme: :dark %>
            <% else %>
              <%= recaptcha_v3(action: 'it3/update', site_key: ENV.fetch('RECAPTCHA_V3_SITE_KEY', nil), turbolinks: true) %>
            <% end %>
          </div>
          <div class="text-sm">
            <label class="flex gap-2 items-start cursor-pointer">
              <%= f.check_box :terms_accepted, required: true %>
              <span class="leading-tight">I agree to the Aptos <%= render(LinkComponent.new(href: terms_testnet_path, target: '_blank', rel: 'noopener noreferrer')) { 'Testnet Participation Terms of Use' } %>
              .</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
