<%= form_with(model: it2_survey, builder: AptosFormBuilder) do |form| %>
  <% if it2_survey.errors.any? %>
    <div class="flex p-4 mb-4 bg-red-100 rounded-lg dark:bg-red-200 lg:w-96" role="alert">
      <div class="ml-3 text-sm font-medium text-red-700 dark:text-red-800">
        <h2><%= pluralize(it2_survey.errors.count, 'error') %> prohibited this from being saved:</h2>

        <ul>
          <% it2_survey.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label :persona, 'Which of the following best represents you?' %>
    <%= form.text_field :persona, required: true, autofocus: true %>
  </div>

  <div class="mb-6">
    <%= form.label :participate_reason, 'Why do you want to participate in AIT2?' %>
    <%= form.text_field :participate_reason, required: true %>
  </div>

  <div class="mb-6">
    <%= form.label :qualified_reason, 'What makes you a qualified node operator?' %>
    <%= form.text_field :qualified_reason, required: true %>
  </div>

  <div class="mb-6">
    <%= form.label :website, 'If you’re with a company, please enter their website here:' %>
    <%= form.url_field :website %>
  </div>

  <div class="mb-6">
    <%= form.label :interest_reason, 'What makes you interested in Aptos?' %>
    <%= form.text_field :interest_reason, required: true %>
  </div>

  <div>
    <%= form.submit 'Submit' %>
  </div>
<% end %>
